body {
    background-color: #fff;
}
.page {
    width: 940px ;
    margin: auto;
    background-color: #fff;
}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}


.github-info {
}


#brand-name {
    line-height: 24px;
    margin-top: 2px;
}

.sprite-details li {
    line-height: 16px;
    margin-bottom: 10px;
}

hr {
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
    .hero-unit > img {
        zoom: .6;
    }
    .browsers-icons img {
        zoom: .8;
    }
}

@media (max-width: 767px) {
    .page {
        width: 100%;
    }

    .hero-unit > img {
        zoom: .6;
    }

    .modern-ui-logo {
        width: 24px;
        height: 24px;
    }
    .github-info {
        margin-top: 5px;
    }

    a, .link {
        font-size: 9pt;
    }

    h3 {
        line-height: 11px;
    }
}

@media (max-width: 480px) {
    .hero-unit img {
        display: none;
    }

    #jetbrains {
        display: none;
    }
    #brand-name {
        display: none;
    }
}