@import (once) "../include/vars";

each(@colorList, {
    .before-bg-@{value} {&::before {background: @@value !important;}}
    .before-fg-@{value} {&::before {color: @@value !important;}}
    .after-bg-@{value} {&::after {background: @@value !important;}}
    .after-fg-@{value} {&::after {color: @@value !important;}}
    .after-bd-@{value} {&::after {border-color: @@value !important;}}
    .after-ol-@{value} {&::after {outline-color: @@value !important;}}
})
