body {
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  color: #ffffff;
  background-color: #2B2B2B;
}
.display4,
.display3,
.display2,
.display1 {
  color: #ffffff;
}
.disabled {
  color: #6e6e6e !important;
}
.bd-default {
  border-color: #5E6060 !important;
}
.bg-scheme {
  background-color: #2B2B2B !important;
}
.bg-control {
  background-color: #3C3F41 !important;
}
.bg-control-bland {
  background-color: rgba(60, 63, 65, 0.2) !important;
}
.fg-scheme {
  color: #ffffff !important;
}
.fg-control {
  color: #bbbbbb !important;
}
input[type=text],
input[type=password],
input[type=tel],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=week],
input[type=file],
select,
textarea,
.file,
.input,
.textarea,
.select {
  border-color: #5E6060 !important;
  background-color: rgba(60, 63, 65, 0.2) !important;
  color: #bbbbbb;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=file]:focus,
select:focus,
textarea:focus,
.file:focus,
.input:focus,
.textarea:focus,
.select:focus,
input[type=text].focused,
input[type=password].focused,
input[type=tel].focused,
input[type=datetime-local].focused,
input[type=email].focused,
input[type=file].focused,
input[type=month].focused,
input[type=number].focused,
input[type=search].focused,
input[type=time].focused,
input[type=url].focused,
input[type=week].focused,
input[type=file].focused,
select.focused,
textarea.focused,
.file.focused,
.input.focused,
.textarea.focused,
.select.focused {
  -webkit-box-shadow: 0 0 0 3px rgba(60, 63, 65, 0.45);
          box-shadow: 0 0 0 3px rgba(60, 63, 65, 0.45);
}
.input,
.select,
.textarea,
.file {
  border-style: solid!important;
}
.input .prepend,
.select .prepend,
.textarea .prepend,
.file .prepend,
.input .button:hover,
.select .button:hover,
.textarea .button:hover,
.file .button:hover {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.input .button,
.select .button,
.textarea .button,
.file .button {
  color: #bbbbbb;
}
.file .button {
  background-color: #3C3F41;
}
.select.dropdown-toggle::before {
  border-color: #bbbbbb;
}
.select .d-menu,
.select .v-menu {
  background-color: #3C3F41;
  color: #bbbbbb;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.checkbox .check,
.radio .check {
  border-color: #7d7d7d;
}
.checkbox .check::before,
.radio .check::before {
  border-color: #bbbbbb;
}
.checkbox input:indeterminate ~ .check,
.radio input:indeterminate ~ .check {
  border-color: #7d7d7d;
}
.checkbox input:indeterminate ~ .check::before,
.radio input:indeterminate ~ .check::before {
  background-color: #7d7d7d;
}
.checkbox input:focus ~ .check,
.radio input:focus ~ .check {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.checkbox input:checked ~ .check,
.radio input:checked ~ .check {
  border-color: #7d7d7d;
}
.checkbox input:disabled ~ .check,
.radio input:disabled ~ .check,
.checkbox input:disabled ~ .check::before,
.radio input:disabled ~ .check::before {
  border-color: rgba(125, 125, 125, 0.2) !important;
}
.checkbox .check {
  background-color: rgba(60, 63, 65, 0.2) !important;
}
.radio .check::before {
  border-color: transparent;
  background-color: #bbbbbb;
}
.radio input:disabled ~ .check,
.radio input:disabled ~ .check::before {
  background-color: rgba(125, 125, 125, 0.2) !important;
}
.switch .check {
  border-color: #7d7d7d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.switch .check::after {
  outline-color: #636363;
  border-color: #636363;
  background-color: #636363;
}
.switch input:not(:disabled):checked ~ .check {
  background-color: #3C3F41;
  border-color: #7d7d7d;
}
.switch input:not(:disabled):checked ~ .check::after {
  outline-color: #bbbbbb;
  border-color: #bbbbbb;
  background-color: #bbbbbb;
}
.switch input:disabled ~ .check {
  background-color: rgba(125, 125, 125, 0.2) !important;
  border-color: rgba(125, 125, 125, 0.2) !important;
}
.switch input:disabled ~ .check::after {
  outline-color: rgba(125, 125, 125, 0.2) !important;
  border-color: rgba(125, 125, 125, 0.2) !important;
  background-color: rgba(125, 125, 125, 0.2) !important;
}
.accordion .frame .heading {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.accordion .frame {
  margin: 0;
}
.accordion .frame + .frame {
  border-top: 1px #454646 solid;
}
.app-bar {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.app-bar .dropdown-toggle::before {
  border-color: #bbbbbb;
}
.app-bar .app-bar-menu .d-menu,
.app-bar .app-bar-container .d-menu {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.app-bar .app-bar-menu .divider,
.app-bar .app-bar-container .divider {
  background-color: #6e6e6e;
}
@media screen and (min-width: 0) {
  .app-bar.app-bar-expand-fs .app-bar-menu .d-menu,
  .app-bar.app-bar-expand-fs .app-bar-container .d-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #5E6060;
  }
}
@media screen and (min-width: 576px) {
  .app-bar.app-bar-expand-sm .app-bar-menu .d-menu,
  .app-bar.app-bar-expand-sm .app-bar-container .d-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #5E6060;
  }
}
@media screen and (min-width: 768px) {
  .app-bar.app-bar-expand-md .app-bar-menu .d-menu,
  .app-bar.app-bar-expand-md .app-bar-container .d-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #5E6060;
  }
}
@media screen and (min-width: 992px) {
  .app-bar.app-bar-expand-lg .app-bar-menu .d-menu,
  .app-bar.app-bar-expand-lg .app-bar-container .d-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #5E6060;
  }
}
@media screen and (min-width: 1200px) {
  .app-bar.app-bar-expand-xl .app-bar-menu .d-menu,
  .app-bar.app-bar-expand-xl .app-bar-container .d-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #5E6060;
  }
}
@media screen and (min-width: 1452px) {
  .app-bar.app-bar-expand-xxl .app-bar-menu .d-menu,
  .app-bar.app-bar-expand-xxl .app-bar-container .d-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #5E6060;
  }
}
.button {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.button:active,
.button.focus,
.button:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(60, 63, 65, 0.45);
          box-shadow: 0 0 0 3px rgba(60, 63, 65, 0.45);
}
.breadcrumbs {
  background-color: #2B2B2B;
  color: #bbbbbb;
  border: 1px solid #5E6060;
}
.breadcrumbs .page-item::before,
.breadcrumbs .page-item::after {
  background-color: #bbbbbb !important;
}
.breadcrumbs .page-link:hover {
  color: #a2a2a2;
}
.pagination .page-item:not(.no-link) {
  background-color: #3C3F41;
  color: #bbbbbb;
  border: 1px #242526 solid;
}
.pagination .page-item:not(.no-link) .page-link:hover,
.pagination .page-item:not(.no-link) .service:hover {
  background-color: rgba(29, 29, 29, 0.1) !important;
}
.pagination.no-gap .page-item {
  border: none;
  margin: 0;
}
.pagination .page-item.active {
  background-color: #54595c;
}
.pagination .no-link {
  background-color: transparent;
  color: #bbbbbb;
}
.calendar {
  border-color: #5E6060;
}
.calendar .calendar-header {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.calendar .day.today {
  background-color: rgba(60, 63, 65, 0.5);
}
.calendar .day.selected {
  -webkit-box-shadow: 0 0 0 1px #3c3f41 !important;
          box-shadow: 0 0 0 1px #3c3f41 !important;
}
.calendar .day.selected::after {
  border-top-color: #3C3F41;
}
.calendar .calendar-years > .years-list li.active,
.calendar .calendar-months > .months-list li.active {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.countdown {
  line-height: 1.5;
}
.countdown .part {
  color: #bbbbbb;
}
.wheel-picker {
  background-color: rgba(60, 63, 65, 0.2);
  color: #bbbbbb;
}
.wheel-picker .date-wrapper,
.wheel-picker .time-wrapper {
  border-color: #5E6060;
}
.wheel-picker .select-block {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.wheel-picker .select-block ul {
  border-color: #5E6060;
}
.wheel-picker .action-block .button {
  color: #bbbbbb;
}
.dialog {
  background-color: #2B2B2B;
  color: #bbbbbb;
  border: 1px solid #5E6060;
}
.dialog .dialog-actions {
  border-top-color: #5E6060;
}
.keypad .keys {
  background-color: #3C3F41;
  border-color: #5E6060;
  color: #bbbbbb;
}
.keypad .key.service-key {
  background-color: #242526;
}
.listview {
  background-color: #2e2e2e;
  color: #bbbbbb;
}
.listview .node:hover {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.listview .node.current-select {
  background-color: #3C3F41;
  border-color: #5E6060 !important;
}
.listview .node-group .node-toggle::before {
  border-color: #bbbbbb;
}
.listview.view-content .node + .node {
  border-top-color: #5E6060;
}
.master {
  background-color: #2B2B2B;
  color: #ffffff;
}
.master .controls .next,
.master .controls .prev {
  color: #bbbbbb;
}
.master .pages {
  border-color: #5E6060;
}
.h-menu {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.h-menu > li > a.dropdown-toggle::before {
  border-color: #bbbbbb;
}
.h-menu .disabled {
  color: #6e6e6e !important;
}
.d-menu,
.v-menu {
  background-color: #3C3F41;
  color: #bbbbbb;
  border: 1px solid #5E6060;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.d-menu li .dropdown-toggle::before,
.v-menu li .dropdown-toggle::before {
  border-color: #bbbbbb;
}
.d-menu li:hover,
.v-menu li:hover {
  background-color: rgba(29, 29, 29, 0.1);
  color: #bbbbbb;
}
.d-menu li:hover .dropdown-toggle::before,
.v-menu li:hover .dropdown-toggle::before {
  border-color: #bbbbbb;
}
.d-menu .divider,
.v-menu .divider {
  background-color: #6e6e6e;
}
.d-menu .menu-title,
.v-menu .menu-title {
  background-color: #373a3c;
}
.v-menu .v-menu {
  border: none!important;
}
.t-menu {
  background-color: #3C3F41;
  color: #bbbbbb;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.t-menu li a {
  border-color: #5E6060 !important;
}
.t-menu .dropdown-toggle::after {
  border-color: transparent transparent #bbbbbb transparent;
}
.navview .navview-pane {
  background-color: #3C3F41;
  color: #bbbbbb;
}
.navview .navview-pane .pull-button:hover,
.navview .navview-pane .holder:hover,
.navview .navview-pane .navview-menu li a:hover {
  background-color: rgba(29, 29, 29, 0.1);
}
.navview .navview-pane .pull-button:active,
.navview .navview-pane .holder:active,
.navview .navview-pane .navview-menu li a:active,
.navview .navview-pane .pull-button:focus,
.navview .navview-pane .holder:focus,
.navview .navview-pane .navview-menu li a:focus {
  background-color: #323536;
}
.navview .navview-pane .pull-button:focus,
.navview .navview-pane .holder:focus,
.navview .navview-pane .navview-menu li a:focus {
  border: 2px solid rgba(29, 29, 29, 0.1);
}
.navview .navview-pane .dropdown-toggle::after {
  border-color: transparent transparent #bbbbbb transparent;
}
.navview .navview-content {
  background-color: #2B2B2B;
  color: #ffffff;
}
.notify {
  background-color: #3C3F41;
  color: #bbbbbb;
  border: 1px solid #5E6060;
}
.panel {
  background-color: #3C3F41;
  color: #bbbbbb;
  border-color: #5E6060 !important;
}
.panel .panel-title {
  border-bottom-color: #5E6060;
}
.panel .panel-title .dropdown-toggle {
  border-left-color: #5E6060;
}
.panel .panel-title .dropdown-toggle::before {
  border-color: #bbbbbb;
}
.panel .panel-title .icon {
  border-right-color: #5E6060;
}
.popover {
  background-color: #3C3F41;
  color: #bbbbbb;
  border-color: #5E6060;
}
.rating .stars li {
  color: #3b3b3b;
}
.rating .stars li.on {
  color: #bbbbbb;
}
.rating:not(.static) .stars:hover li {
  color: #bbbbbb;
}
.rating:not(.static) .stars li:hover ~ li {
  color: #3b3b3b !important;
}

/*# sourceMappingURL=../maps/darcula.css.map */