.accordion {
    & > .accordion-frame {
        .border;
        margin-bottom: 2px;

        & > .heading {
            display: block;
            text-decoration: none;
            background-color: @grayLighter;
            color: @linkColor;
            padding: 10px;
            width: 100%;
        }

        & > .content {
            padding: 10px;
        }
    }

    & > .accordion-frame {
        & > .content {
            display: none;
        }

        &:first-child {
            & > .content {
                //display: block;
            }
        }
    }
}