Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.card {
  display: block;
  position: relative;
  font-size: .875rem;
  width: calc(100% - 1rem);
  margin: 8px auto;
  border-radius: 2px;
  border: 1px solid #dfdfdf;
}
.card-header {
  border-bottom: 1px #eee solid;
  padding: 1rem;
  font-size: 16px;
  border-radius: 2px 2px 0 0;
  display: block;
}
.card-header .avatar {
  float: left;
  width: 2.75rem;
  height: 2.75rem;
  overflow: hidden;
}
.card-header .avatar img {
  width: 100%;
  min-height: 100%;
}
.card-header .name {
  margin-left: 3.375rem;
  font-weight: 500;
}
.card-header .date {
  margin-left: 3.375rem;
  font-size: .8125rem;
  font-weight: 500;
  color: #bebebe;
}
.card-content {
  display: block;
}
.card-footer {
  border-top: 1px #eee solid;
  padding: 1rem;
  border-radius: 0 0 2px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
}
.card.image-header .card-header {
  height: 9rem;
  vertical-align: bottom;
  background-size: cover;
  background-position: center;
  align-items: flex-end;
  display: flex;
}
* + .card {
  margin-top: 1rem;
}
