Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.carousel {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
  background-color: #ffffff;
}
.carousel .slides {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel .slide {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel.fixed-size .slide {
  overflow: hidden;
}
.carousel [class*="carousel-switch"],
.carousel .carousel-bullets {
  position: absolute;
  display: block;
  z-index: 501;
  user-select: none;
}
.carousel .carousel-switch-next,
.carousel .carousel-switch-prev {
  width: auto;
  line-height: 4rem;
  height: 4rem;
  text-decoration: none;
  margin-top: -2rem;
  top: 50%;
  font-size: 4rem;
  font-weight: 300;
  color: #bebebe;
  cursor: pointer;
  vertical-align: middle;
  padding: 0;
}
.carousel .carousel-switch-next:hover,
.carousel .carousel-switch-prev:hover {
  color: #e4e4e4;
}
.carousel .carousel-switch-next img,
.carousel .carousel-switch-prev img {
  max-width: 64px;
  max-height: 64px;
}
.carousel .carousel-switch-next [class*=mif-],
.carousel .carousel-switch-prev [class*=mif-] {
  display: block;
}
.carousel .carousel-switch-next {
  right: 0;
  left: auto;
}
.carousel .carousel-switch-prev {
  left: 0;
  right: auto;
}
.carousel .carousel-bullets {
  left: 0;
  right: 0;
  bottom: .625rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.carousel .carousel-bullets .carousel-bullet {
  display: block;
  float: none;
  width: .625rem;
  height: .625rem;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  border: 1px #ffffff solid;
  margin: 0 .3125rem;
}
.carousel .carousel-bullets .carousel-bullet.bullet-on {
  background-color: #5ebdec;
}
.carousel .carousel-bullets.bullet-style-square .carousel-bullet {
  border-radius: 0;
}
.carousel .carousel-bullets.bullet-style-rect .carousel-bullet {
  border-radius: 0;
  height: .4rem;
  width: 1rem;
}
.carousel .carousel-bullets.bullet-style-diamond .carousel-bullet {
  border-radius: 0;
  transform: rotate(45deg);
}
.carousel.controls-outside {
  padding: 0 4rem 1.375rem 4rem;
}
.carousel.controls-outside .carousel-bullets {
  bottom: 0;
}
.carousel.with-thumbnails .thumbs {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  flex-flow: row;
  justify-content: center;
  padding-top: 10px;
}
.carousel.with-thumbnails .thumb {
  display: block;
  position: relative!important;
  top: auto!important;
  left: auto!important;
  margin: .5rem;
  cursor: pointer;
  overflow: hidden;
  background-color: #f8f8f8;
}
.carousel.with-thumbnails .thumb.thumb-on {
  border: 4px solid #1ba1e2;
}
