Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.d-flex {
  display: flex!important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.order-12 {
  order: 12;
}
.order-11 {
  order: 11;
}
.order-10 {
  order: 10;
}
.order-9 {
  order: 9;
}
.order-8 {
  order: 8;
}
.order-7 {
  order: 7;
}
.order-6 {
  order: 6;
}
.order-5 {
  order: 5;
}
.order-4 {
  order: 4;
}
.order-3 {
  order: 3;
}
.order-2 {
  order: 2;
}
.order-1 {
  order: 1;
}
.flex-equal-items > * {
  flex: 1;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-wrap-r {
  flex-wrap: wrap-reverse !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-column-r {
  flex-direction: column-reverse !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-row-r {
  flex-direction: row-reverse !important;
}
.flex-align-start {
  align-items: flex-start !important;
}
.flex-align-end {
  align-items: flex-end !important;
}
.flex-align-center {
  align-items: center !important;
}
.flex-align-stretch {
  align-items: stretch !important;
}
.flex-align-baseline {
  align-items: baseline !important;
}
.flex-self-start {
  align-self: flex-start !important;
}
.flex-self-end {
  align-self: flex-end !important;
}
.flex-self-center {
  align-self: center !important;
}
.flex-self-stretch {
  align-self: stretch !important;
}
.flex-self-baseline {
  align-self: baseline !important;
}
.flex-justify-start {
  justify-content: flex-start !important;
}
.flex-justify-end {
  justify-content: flex-end !important;
}
.flex-justify-center {
  justify-content: center !important;
}
.flex-justify-between {
  justify-content: space-between !important;
}
.flex-justify-around {
  justify-content: space-around !important;
}
.flex-content-start {
  align-content: flex-start !important;
}
.flex-content-end {
  align-content: flex-end !important;
}
.flex-content-center {
  align-content: center !important;
}
.flex-content-between {
  align-content: space-between !important;
}
.flex-content-around {
  align-content: space-around !important;
}
.flex-content-stretch {
  align-content: stretch !important;
}
.flex-no-shrink > * {
  flex-shrink: 0;
}
.flex-shrink > * {
  flex-shrink: 1;
}
.flex-no-grow > * {
  flex-grow: 0;
}
.flex-grow > * {
  flex-grow: 1;
}
.flex-no-shrink-self {
  flex-shrink: 0;
}
.flex-shrink-self {
  flex-shrink: 1;
}
.flex-no-grow-self {
  flex-grow: 0;
}
.flex-grow-self {
  flex-grow: 1;
}
.flex-right {
  margin-left: auto;
}
.flex-left {
  margin-right: auto;
}
.flex-top {
  margin-bottom: auto;
}
.flex-bottom {
  margin-top: auto;
}
@media screen and (min-width: 0) {
  .d-flex-fs {
    display: flex!important;
  }
  .d-inline-flex-fs {
    display: inline-flex !important;
  }
  .flex-nowrap-fs {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-fs {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-fs {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-fs {
    flex-direction: column !important;
  }
  .flex-column-r-fs {
    flex-direction: column-reverse !important;
  }
  .flex-row-fs {
    flex-direction: row !important;
  }
  .flex-row-r-fs {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-fs {
    align-items: flex-start !important;
  }
  .flex-align-end-fs {
    align-items: flex-end !important;
  }
  .flex-align-center-fs {
    align-items: center !important;
  }
  .flex-align-stretch-fs {
    align-items: stretch !important;
  }
  .flex-align-baseline-fs {
    align-items: baseline !important;
  }
  .flex-self-start-fs {
    align-self: flex-start !important;
  }
  .flex-self-end-fs {
    align-self: flex-end !important;
  }
  .flex-self-center-fs {
    align-self: center !important;
  }
  .flex-self-stretch-fs {
    align-self: stretch !important;
  }
  .flex-self-baseline-fs {
    align-self: baseline !important;
  }
  .flex-justify-start-fs {
    justify-content: flex-start !important;
  }
  .flex-justify-end-fs {
    justify-content: flex-end !important;
  }
  .flex-justify-center-fs {
    justify-content: center !important;
  }
  .flex-justify-between-fs {
    justify-content: space-between !important;
  }
  .flex-justify-around-fs {
    justify-content: space-around !important;
  }
  .flex-content-start-fs {
    align-content: flex-start !important;
  }
  .flex-content-end-fs {
    align-content: flex-end !important;
  }
  .flex-content-center-fs {
    align-content: center !important;
  }
  .flex-content-between-fs {
    align-content: space-between !important;
  }
  .flex-content-around-fs {
    align-content: space-around !important;
  }
  .flex-content-stretch-fs {
    align-content: stretch !important;
  }
  .flex-no-shrink-fs > * {
    flex-shrink: 0;
  }
  .flex-shrink-fs > * {
    flex-shrink: 1;
  }
  .flex-no-grow-fs > * {
    flex-grow: 0;
  }
  .flex-grow-fs > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-fs {
    flex-shrink: 0;
  }
  .flex-shrink-self-fs {
    flex-shrink: 1;
  }
  .flex-no-grow-self-fs {
    flex-grow: 0;
  }
  .flex-grow-self-fs {
    flex-grow: 1;
  }
  .flex-right-fs {
    margin-left: auto;
  }
  .flex-left-fs {
    margin-right: auto;
  }
  .flex-top-fs {
    margin-bottom: auto;
  }
  .flex-bottom-fs {
    margin-top: auto;
  }
  .order-fs-12 {
    order: 12;
  }
  .order-fs-11 {
    order: 11;
  }
  .order-fs-10 {
    order: 10;
  }
  .order-fs-9 {
    order: 9;
  }
  .order-fs-8 {
    order: 8;
  }
  .order-fs-7 {
    order: 7;
  }
  .order-fs-6 {
    order: 6;
  }
  .order-fs-5 {
    order: 5;
  }
  .order-fs-4 {
    order: 4;
  }
  .order-fs-3 {
    order: 3;
  }
  .order-fs-2 {
    order: 2;
  }
  .order-fs-1 {
    order: 1;
  }
}
@media screen and (min-width: 576px) {
  .d-flex-sm {
    display: flex!important;
  }
  .d-inline-flex-sm {
    display: inline-flex !important;
  }
  .flex-nowrap-sm {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-sm {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-sm {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-sm {
    flex-direction: column !important;
  }
  .flex-column-r-sm {
    flex-direction: column-reverse !important;
  }
  .flex-row-sm {
    flex-direction: row !important;
  }
  .flex-row-r-sm {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-sm {
    align-items: flex-start !important;
  }
  .flex-align-end-sm {
    align-items: flex-end !important;
  }
  .flex-align-center-sm {
    align-items: center !important;
  }
  .flex-align-stretch-sm {
    align-items: stretch !important;
  }
  .flex-align-baseline-sm {
    align-items: baseline !important;
  }
  .flex-self-start-sm {
    align-self: flex-start !important;
  }
  .flex-self-end-sm {
    align-self: flex-end !important;
  }
  .flex-self-center-sm {
    align-self: center !important;
  }
  .flex-self-stretch-sm {
    align-self: stretch !important;
  }
  .flex-self-baseline-sm {
    align-self: baseline !important;
  }
  .flex-justify-start-sm {
    justify-content: flex-start !important;
  }
  .flex-justify-end-sm {
    justify-content: flex-end !important;
  }
  .flex-justify-center-sm {
    justify-content: center !important;
  }
  .flex-justify-between-sm {
    justify-content: space-between !important;
  }
  .flex-justify-around-sm {
    justify-content: space-around !important;
  }
  .flex-content-start-sm {
    align-content: flex-start !important;
  }
  .flex-content-end-sm {
    align-content: flex-end !important;
  }
  .flex-content-center-sm {
    align-content: center !important;
  }
  .flex-content-between-sm {
    align-content: space-between !important;
  }
  .flex-content-around-sm {
    align-content: space-around !important;
  }
  .flex-content-stretch-sm {
    align-content: stretch !important;
  }
  .flex-no-shrink-sm > * {
    flex-shrink: 0;
  }
  .flex-shrink-sm > * {
    flex-shrink: 1;
  }
  .flex-no-grow-sm > * {
    flex-grow: 0;
  }
  .flex-grow-sm > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-sm {
    flex-shrink: 0;
  }
  .flex-shrink-self-sm {
    flex-shrink: 1;
  }
  .flex-no-grow-self-sm {
    flex-grow: 0;
  }
  .flex-grow-self-sm {
    flex-grow: 1;
  }
  .flex-right-sm {
    margin-left: auto;
  }
  .flex-left-sm {
    margin-right: auto;
  }
  .flex-top-sm {
    margin-bottom: auto;
  }
  .flex-bottom-sm {
    margin-top: auto;
  }
  .order-sm-12 {
    order: 12;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-1 {
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .d-flex-md {
    display: flex!important;
  }
  .d-inline-flex-md {
    display: inline-flex !important;
  }
  .flex-nowrap-md {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-md {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-md {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-md {
    flex-direction: column !important;
  }
  .flex-column-r-md {
    flex-direction: column-reverse !important;
  }
  .flex-row-md {
    flex-direction: row !important;
  }
  .flex-row-r-md {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-md {
    align-items: flex-start !important;
  }
  .flex-align-end-md {
    align-items: flex-end !important;
  }
  .flex-align-center-md {
    align-items: center !important;
  }
  .flex-align-stretch-md {
    align-items: stretch !important;
  }
  .flex-align-baseline-md {
    align-items: baseline !important;
  }
  .flex-self-start-md {
    align-self: flex-start !important;
  }
  .flex-self-end-md {
    align-self: flex-end !important;
  }
  .flex-self-center-md {
    align-self: center !important;
  }
  .flex-self-stretch-md {
    align-self: stretch !important;
  }
  .flex-self-baseline-md {
    align-self: baseline !important;
  }
  .flex-justify-start-md {
    justify-content: flex-start !important;
  }
  .flex-justify-end-md {
    justify-content: flex-end !important;
  }
  .flex-justify-center-md {
    justify-content: center !important;
  }
  .flex-justify-between-md {
    justify-content: space-between !important;
  }
  .flex-justify-around-md {
    justify-content: space-around !important;
  }
  .flex-content-start-md {
    align-content: flex-start !important;
  }
  .flex-content-end-md {
    align-content: flex-end !important;
  }
  .flex-content-center-md {
    align-content: center !important;
  }
  .flex-content-between-md {
    align-content: space-between !important;
  }
  .flex-content-around-md {
    align-content: space-around !important;
  }
  .flex-content-stretch-md {
    align-content: stretch !important;
  }
  .flex-no-shrink-md > * {
    flex-shrink: 0;
  }
  .flex-shrink-md > * {
    flex-shrink: 1;
  }
  .flex-no-grow-md > * {
    flex-grow: 0;
  }
  .flex-grow-md > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-md {
    flex-shrink: 0;
  }
  .flex-shrink-self-md {
    flex-shrink: 1;
  }
  .flex-no-grow-self-md {
    flex-grow: 0;
  }
  .flex-grow-self-md {
    flex-grow: 1;
  }
  .flex-right-md {
    margin-left: auto;
  }
  .flex-left-md {
    margin-right: auto;
  }
  .flex-top-md {
    margin-bottom: auto;
  }
  .flex-bottom-md {
    margin-top: auto;
  }
  .order-md-12 {
    order: 12;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-1 {
    order: 1;
  }
}
@media screen and (min-width: 992px) {
  .d-flex-lg {
    display: flex!important;
  }
  .d-inline-flex-lg {
    display: inline-flex !important;
  }
  .flex-nowrap-lg {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-lg {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-lg {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-lg {
    flex-direction: column !important;
  }
  .flex-column-r-lg {
    flex-direction: column-reverse !important;
  }
  .flex-row-lg {
    flex-direction: row !important;
  }
  .flex-row-r-lg {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-lg {
    align-items: flex-start !important;
  }
  .flex-align-end-lg {
    align-items: flex-end !important;
  }
  .flex-align-center-lg {
    align-items: center !important;
  }
  .flex-align-stretch-lg {
    align-items: stretch !important;
  }
  .flex-align-baseline-lg {
    align-items: baseline !important;
  }
  .flex-self-start-lg {
    align-self: flex-start !important;
  }
  .flex-self-end-lg {
    align-self: flex-end !important;
  }
  .flex-self-center-lg {
    align-self: center !important;
  }
  .flex-self-stretch-lg {
    align-self: stretch !important;
  }
  .flex-self-baseline-lg {
    align-self: baseline !important;
  }
  .flex-justify-start-lg {
    justify-content: flex-start !important;
  }
  .flex-justify-end-lg {
    justify-content: flex-end !important;
  }
  .flex-justify-center-lg {
    justify-content: center !important;
  }
  .flex-justify-between-lg {
    justify-content: space-between !important;
  }
  .flex-justify-around-lg {
    justify-content: space-around !important;
  }
  .flex-content-start-lg {
    align-content: flex-start !important;
  }
  .flex-content-end-lg {
    align-content: flex-end !important;
  }
  .flex-content-center-lg {
    align-content: center !important;
  }
  .flex-content-between-lg {
    align-content: space-between !important;
  }
  .flex-content-around-lg {
    align-content: space-around !important;
  }
  .flex-content-stretch-lg {
    align-content: stretch !important;
  }
  .flex-no-shrink-lg > * {
    flex-shrink: 0;
  }
  .flex-shrink-lg > * {
    flex-shrink: 1;
  }
  .flex-no-grow-lg > * {
    flex-grow: 0;
  }
  .flex-grow-lg > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-lg {
    flex-shrink: 0;
  }
  .flex-shrink-self-lg {
    flex-shrink: 1;
  }
  .flex-no-grow-self-lg {
    flex-grow: 0;
  }
  .flex-grow-self-lg {
    flex-grow: 1;
  }
  .flex-right-lg {
    margin-left: auto;
  }
  .flex-left-lg {
    margin-right: auto;
  }
  .flex-top-lg {
    margin-bottom: auto;
  }
  .flex-bottom-lg {
    margin-top: auto;
  }
  .order-lg-12 {
    order: 12;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-1 {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .d-flex-xl {
    display: flex!important;
  }
  .d-inline-flex-xl {
    display: inline-flex !important;
  }
  .flex-nowrap-xl {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-xl {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-xl {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-xl {
    flex-direction: column !important;
  }
  .flex-column-r-xl {
    flex-direction: column-reverse !important;
  }
  .flex-row-xl {
    flex-direction: row !important;
  }
  .flex-row-r-xl {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-xl {
    align-items: flex-start !important;
  }
  .flex-align-end-xl {
    align-items: flex-end !important;
  }
  .flex-align-center-xl {
    align-items: center !important;
  }
  .flex-align-stretch-xl {
    align-items: stretch !important;
  }
  .flex-align-baseline-xl {
    align-items: baseline !important;
  }
  .flex-self-start-xl {
    align-self: flex-start !important;
  }
  .flex-self-end-xl {
    align-self: flex-end !important;
  }
  .flex-self-center-xl {
    align-self: center !important;
  }
  .flex-self-stretch-xl {
    align-self: stretch !important;
  }
  .flex-self-baseline-xl {
    align-self: baseline !important;
  }
  .flex-justify-start-xl {
    justify-content: flex-start !important;
  }
  .flex-justify-end-xl {
    justify-content: flex-end !important;
  }
  .flex-justify-center-xl {
    justify-content: center !important;
  }
  .flex-justify-between-xl {
    justify-content: space-between !important;
  }
  .flex-justify-around-xl {
    justify-content: space-around !important;
  }
  .flex-content-start-xl {
    align-content: flex-start !important;
  }
  .flex-content-end-xl {
    align-content: flex-end !important;
  }
  .flex-content-center-xl {
    align-content: center !important;
  }
  .flex-content-between-xl {
    align-content: space-between !important;
  }
  .flex-content-around-xl {
    align-content: space-around !important;
  }
  .flex-content-stretch-xl {
    align-content: stretch !important;
  }
  .flex-no-shrink-xl > * {
    flex-shrink: 0;
  }
  .flex-shrink-xl > * {
    flex-shrink: 1;
  }
  .flex-no-grow-xl > * {
    flex-grow: 0;
  }
  .flex-grow-xl > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-xl {
    flex-shrink: 0;
  }
  .flex-shrink-self-xl {
    flex-shrink: 1;
  }
  .flex-no-grow-self-xl {
    flex-grow: 0;
  }
  .flex-grow-self-xl {
    flex-grow: 1;
  }
  .flex-right-xl {
    margin-left: auto;
  }
  .flex-left-xl {
    margin-right: auto;
  }
  .flex-top-xl {
    margin-bottom: auto;
  }
  .flex-bottom-xl {
    margin-top: auto;
  }
  .order-xl-12 {
    order: 12;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-1 {
    order: 1;
  }
}
@media screen and (min-width: 1452px) {
  .d-flex-xxl {
    display: flex!important;
  }
  .d-inline-flex-xxl {
    display: inline-flex !important;
  }
  .flex-nowrap-xxl {
    flex-wrap: nowrap !important;
  }
  .flex-wrap-xxl {
    flex-wrap: wrap !important;
  }
  .flex-wrap-r-xxl {
    flex-wrap: wrap-reverse !important;
  }
  .flex-column-xxl {
    flex-direction: column !important;
  }
  .flex-column-r-xxl {
    flex-direction: column-reverse !important;
  }
  .flex-row-xxl {
    flex-direction: row !important;
  }
  .flex-row-r-xxl {
    flex-direction: row-reverse !important;
  }
  .flex-align-start-xxl {
    align-items: flex-start !important;
  }
  .flex-align-end-xxl {
    align-items: flex-end !important;
  }
  .flex-align-center-xxl {
    align-items: center !important;
  }
  .flex-align-stretch-xxl {
    align-items: stretch !important;
  }
  .flex-align-baseline-xxl {
    align-items: baseline !important;
  }
  .flex-self-start-xxl {
    align-self: flex-start !important;
  }
  .flex-self-end-xxl {
    align-self: flex-end !important;
  }
  .flex-self-center-xxl {
    align-self: center !important;
  }
  .flex-self-stretch-xxl {
    align-self: stretch !important;
  }
  .flex-self-baseline-xxl {
    align-self: baseline !important;
  }
  .flex-justify-start-xxl {
    justify-content: flex-start !important;
  }
  .flex-justify-end-xxl {
    justify-content: flex-end !important;
  }
  .flex-justify-center-xxl {
    justify-content: center !important;
  }
  .flex-justify-between-xxl {
    justify-content: space-between !important;
  }
  .flex-justify-around-xxl {
    justify-content: space-around !important;
  }
  .flex-content-start-xxl {
    align-content: flex-start !important;
  }
  .flex-content-end-xxl {
    align-content: flex-end !important;
  }
  .flex-content-center-xxl {
    align-content: center !important;
  }
  .flex-content-between-xxl {
    align-content: space-between !important;
  }
  .flex-content-around-xxl {
    align-content: space-around !important;
  }
  .flex-content-stretch-xxl {
    align-content: stretch !important;
  }
  .flex-no-shrink-xxl > * {
    flex-shrink: 0;
  }
  .flex-shrink-xxl > * {
    flex-shrink: 1;
  }
  .flex-no-grow-xxl > * {
    flex-grow: 0;
  }
  .flex-grow-xxl > * {
    flex-grow: 1;
  }
  .flex-no-shrink-self-xxl {
    flex-shrink: 0;
  }
  .flex-shrink-self-xxl {
    flex-shrink: 1;
  }
  .flex-no-grow-self-xxl {
    flex-grow: 0;
  }
  .flex-grow-self-xxl {
    flex-grow: 1;
  }
  .flex-right-xxl {
    margin-left: auto;
  }
  .flex-left-xxl {
    margin-right: auto;
  }
  .flex-top-xxl {
    margin-bottom: auto;
  }
  .flex-bottom-xxl {
    margin-top: auto;
  }
  .order-xxl-12 {
    order: 12;
  }
  .order-xxl-11 {
    order: 11;
  }
  .order-xxl-10 {
    order: 10;
  }
  .order-xxl-9 {
    order: 9;
  }
  .order-xxl-8 {
    order: 8;
  }
  .order-xxl-7 {
    order: 7;
  }
  .order-xxl-6 {
    order: 6;
  }
  .order-xxl-5 {
    order: 5;
  }
  .order-xxl-4 {
    order: 4;
  }
  .order-xxl-3 {
    order: 3;
  }
  .order-xxl-2 {
    order: 2;
  }
  .order-xxl-1 {
    order: 1;
  }
}
