Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.grid {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.cell {
  flex: 1 0 0;
  max-width: 100%;
  padding: 0 12px;
}
.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8,
.cell-9,
.cell-10,
.cell-11,
.cell-12,
.cell-sx-1,
.cell-sx-2,
.cell-sx-3,
.cell-sx-4,
.cell-sx-5,
.cell-sx-6,
.cell-sx-7,
.cell-sx-8,
.cell-sx-9,
.cell-sx-10,
.cell-sx-11,
.cell-sx-12,
.cell-sm-1,
.cell-sm-2,
.cell-sm-3,
.cell-sm-4,
.cell-sm-5,
.cell-sm-6,
.cell-sm-7,
.cell-sm-8,
.cell-sm-9,
.cell-sm-10,
.cell-sm-11,
.cell-sm-12,
.cell-ld-1,
.cell-ld-2,
.cell-ld-3,
.cell-ld-4,
.cell-ld-5,
.cell-ld-6,
.cell-ld-7,
.cell-ld-8,
.cell-ld-9,
.cell-ld-10,
.cell-ld-11,
.cell-ld-12,
.cell-md-1,
.cell-md-2,
.cell-md-3,
.cell-md-4,
.cell-md-5,
.cell-md-6,
.cell-md-7,
.cell-md-8,
.cell-md-9,
.cell-md-10,
.cell-md-11,
.cell-md-12,
.cell-lg-1,
.cell-lg-2,
.cell-lg-3,
.cell-lg-4,
.cell-lg-5,
.cell-lg-6,
.cell-lg-7,
.cell-lg-8,
.cell-lg-9,
.cell-lg-10,
.cell-lg-11,
.cell-lg-12,
.cell-xl-1,
.cell-xl-2,
.cell-xl-3,
.cell-xl-4,
.cell-xl-5,
.cell-xl-6,
.cell-xl-7,
.cell-xl-8,
.cell-xl-9,
.cell-xl-10,
.cell-xl-11,
.cell-xl-12,
.cell-xxl-1,
.cell-xxl-2,
.cell-xxl-3,
.cell-xxl-4,
.cell-xxl-5,
.cell-xxl-6,
.cell-xxl-7,
.cell-xxl-8,
.cell-xxl-9,
.cell-xxl-10,
.cell-xxl-11,
.cell-xxl-12,
.cell-sx,
.cell-sm,
.cell-ld,
.cell-md,
.cell-lg,
.cell-xl,
.cell-xxl,
.cell-sx-auto,
.cell-sm-auto,
.cell-ld-auto,
.cell-md-auto,
.cell-lg-auto,
.cell-xl-auto,
.cell-xxl-auto,
.cell-sx-full,
.cell-sm-full,
.cell-ld-full,
.cell-md-full,
.cell-lg-full,
.cell-xl-full,
.cell-xxl-full,
.cell-sx-half,
.cell-sm-half,
.cell-ld-half,
.cell-md-half,
.cell-lg-half,
.cell-xl-half,
.cell-xxl-half,
.cell-sx-one-third,
.cell-sm-one-third,
.cell-ld-one-third,
.cell-md-one-third,
.cell-lg-one-third,
.cell-xl-one-third,
.cell-xxl-one-third,
.cell-sx-two-third,
.cell-sm-two-third,
.cell-ld-two-third,
.cell-md-two-third,
.cell-lg-two-third,
.cell-xl-two-third,
.cell-xxl-two-third,
.cell-sx-quarter,
.cell-sm-quarter,
.cell-ld-quarter,
.cell-md-quarter,
.cell-lg-quarter,
.cell-xl-quarter,
.cell-xxl-quarter {
  position: relative;
  display: block;
  padding: 0 12px;
  width: 100%;
  min-height: 1px;
}
.cell-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.colspan-2,
.cell-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.colspan-3,
.cell-3 {
  flex: 0 0 25.000005%;
  max-width: 25.000005%;
}
.colspan-4,
.cell-4 {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
}
.colspan-5,
.cell-5 {
  flex: 0 0 41.666675%;
  max-width: 41.666675%;
}
.colspan-6,
.cell-6 {
  flex: 0 0 50.00001%;
  max-width: 50.00001%;
}
.colspan-7,
.cell-7 {
  flex: 0 0 58.333345%;
  max-width: 58.333345%;
}
.colspan-8,
.cell-8 {
  flex: 0 0 66.66668%;
  max-width: 66.66668%;
}
.colspan-9,
.cell-9 {
  flex: 0 0 75.000015%;
  max-width: 75.000015%;
}
.colspan-10,
.cell-10 {
  flex: 0 0 83.33335%;
  max-width: 83.33335%;
}
.colspan-11,
.cell-11 {
  flex: 0 0 91.666685%;
  max-width: 91.666685%;
}
.colspan-12,
.cell-12 {
  flex: 0 0 100.00002%;
  max-width: 100.00002%;
}
.offset-12 {
  margin-left: 100.00002%;
}
.offset-11 {
  margin-left: 91.666685%;
}
.offset-10 {
  margin-left: 83.33335%;
}
.offset-9 {
  margin-left: 75.000015%;
}
.offset-8 {
  margin-left: 66.66668%;
}
.offset-7 {
  margin-left: 58.333345%;
}
.offset-6 {
  margin-left: 50.00001%;
}
.offset-5 {
  margin-left: 41.666675%;
}
.offset-4 {
  margin-left: 33.33334%;
}
.offset-3 {
  margin-left: 25.000005%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-1 {
  margin-left: 8.333335%;
}
.stub {
  flex: none;
  display: block;
  padding: 0 12px;
}
.grid.no-gap .row {
  margin-left: 0;
  margin-right: 0;
}
.grid.no-gap .row .cell,
.grid.no-gap .row .stub {
  padding: 0;
}
.grid.no-gap .row + .row {
  margin-top: 0;
}
.row.no-gap {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.row.no-gap .cell,
.row.no-gap .stub {
  padding: 0;
}
@media screen and (min-width: 0) {
  .cell-fs-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-fs-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-fs-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-fs-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-fs-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-fs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-fs-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-fs-1,
  .cell-fs-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-fs-2,
  .cell-fs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-fs-3,
  .cell-fs-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-fs-4,
  .cell-fs-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-fs-5,
  .cell-fs-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-fs-6,
  .cell-fs-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-fs-7,
  .cell-fs-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-fs-8,
  .cell-fs-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-fs-9,
  .cell-fs-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-fs-10,
  .cell-fs-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-fs-11,
  .cell-fs-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-fs-12,
  .cell-fs-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-fs-12 {
    margin-left: 100.00002%;
  }
  .offset-fs-11 {
    margin-left: 91.666685%;
  }
  .offset-fs-10 {
    margin-left: 83.33335%;
  }
  .offset-fs-9 {
    margin-left: 75.000015%;
  }
  .offset-fs-8 {
    margin-left: 66.66668%;
  }
  .offset-fs-7 {
    margin-left: 58.333345%;
  }
  .offset-fs-6 {
    margin-left: 50.00001%;
  }
  .offset-fs-5 {
    margin-left: 41.666675%;
  }
  .offset-fs-4 {
    margin-left: 33.33334%;
  }
  .offset-fs-3 {
    margin-left: 25.000005%;
  }
  .offset-fs-2 {
    margin-left: 16.66667%;
  }
  .offset-fs-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 576px) {
  .cell-sm-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-sm-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-sm-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-sm-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-sm-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-sm-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-sm-1,
  .cell-sm-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-sm-2,
  .cell-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-sm-3,
  .cell-sm-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-sm-4,
  .cell-sm-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-sm-5,
  .cell-sm-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-sm-6,
  .cell-sm-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-sm-7,
  .cell-sm-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-sm-8,
  .cell-sm-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-sm-9,
  .cell-sm-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-sm-10,
  .cell-sm-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-sm-11,
  .cell-sm-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-sm-12,
  .cell-sm-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-sm-12 {
    margin-left: 100.00002%;
  }
  .offset-sm-11 {
    margin-left: 91.666685%;
  }
  .offset-sm-10 {
    margin-left: 83.33335%;
  }
  .offset-sm-9 {
    margin-left: 75.000015%;
  }
  .offset-sm-8 {
    margin-left: 66.66668%;
  }
  .offset-sm-7 {
    margin-left: 58.333345%;
  }
  .offset-sm-6 {
    margin-left: 50.00001%;
  }
  .offset-sm-5 {
    margin-left: 41.666675%;
  }
  .offset-sm-4 {
    margin-left: 33.33334%;
  }
  .offset-sm-3 {
    margin-left: 25.000005%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 768px) {
  .cell-md-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-md-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-md-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-md-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-md-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-md-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-md-1,
  .cell-md-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-md-2,
  .cell-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-md-3,
  .cell-md-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-md-4,
  .cell-md-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-md-5,
  .cell-md-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-md-6,
  .cell-md-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-md-7,
  .cell-md-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-md-8,
  .cell-md-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-md-9,
  .cell-md-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-md-10,
  .cell-md-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-md-11,
  .cell-md-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-md-12,
  .cell-md-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-md-12 {
    margin-left: 100.00002%;
  }
  .offset-md-11 {
    margin-left: 91.666685%;
  }
  .offset-md-10 {
    margin-left: 83.33335%;
  }
  .offset-md-9 {
    margin-left: 75.000015%;
  }
  .offset-md-8 {
    margin-left: 66.66668%;
  }
  .offset-md-7 {
    margin-left: 58.333345%;
  }
  .offset-md-6 {
    margin-left: 50.00001%;
  }
  .offset-md-5 {
    margin-left: 41.666675%;
  }
  .offset-md-4 {
    margin-left: 33.33334%;
  }
  .offset-md-3 {
    margin-left: 25.000005%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 992px) {
  .cell-lg-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-lg-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-lg-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-lg-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-lg-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-lg-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-lg-1,
  .cell-lg-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-lg-2,
  .cell-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-lg-3,
  .cell-lg-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-lg-4,
  .cell-lg-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-lg-5,
  .cell-lg-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-lg-6,
  .cell-lg-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-lg-7,
  .cell-lg-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-lg-8,
  .cell-lg-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-lg-9,
  .cell-lg-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-lg-10,
  .cell-lg-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-lg-11,
  .cell-lg-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-lg-12,
  .cell-lg-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-lg-12 {
    margin-left: 100.00002%;
  }
  .offset-lg-11 {
    margin-left: 91.666685%;
  }
  .offset-lg-10 {
    margin-left: 83.33335%;
  }
  .offset-lg-9 {
    margin-left: 75.000015%;
  }
  .offset-lg-8 {
    margin-left: 66.66668%;
  }
  .offset-lg-7 {
    margin-left: 58.333345%;
  }
  .offset-lg-6 {
    margin-left: 50.00001%;
  }
  .offset-lg-5 {
    margin-left: 41.666675%;
  }
  .offset-lg-4 {
    margin-left: 33.33334%;
  }
  .offset-lg-3 {
    margin-left: 25.000005%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 1200px) {
  .cell-xl-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-xl-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-xl-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-xl-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-xl-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-xl-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-xl-1,
  .cell-xl-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-xl-2,
  .cell-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-xl-3,
  .cell-xl-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-xl-4,
  .cell-xl-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-xl-5,
  .cell-xl-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-xl-6,
  .cell-xl-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-xl-7,
  .cell-xl-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-xl-8,
  .cell-xl-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-xl-9,
  .cell-xl-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-xl-10,
  .cell-xl-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-xl-11,
  .cell-xl-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-xl-12,
  .cell-xl-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-xl-12 {
    margin-left: 100.00002%;
  }
  .offset-xl-11 {
    margin-left: 91.666685%;
  }
  .offset-xl-10 {
    margin-left: 83.33335%;
  }
  .offset-xl-9 {
    margin-left: 75.000015%;
  }
  .offset-xl-8 {
    margin-left: 66.66668%;
  }
  .offset-xl-7 {
    margin-left: 58.333345%;
  }
  .offset-xl-6 {
    margin-left: 50.00001%;
  }
  .offset-xl-5 {
    margin-left: 41.666675%;
  }
  .offset-xl-4 {
    margin-left: 33.33334%;
  }
  .offset-xl-3 {
    margin-left: 25.000005%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-1 {
    margin-left: 8.333335%;
  }
}
@media screen and (min-width: 1452px) {
  .cell-xxl-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-xxl-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-xxl-one-third {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .cell-xxl-two-third {
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
  }
  .cell-xxl-quarter {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .cell-xxl-auto {
    flex: 0 0 auto;
    max-width: none;
  }
  .colspan-xxl-1,
  .cell-xxl-1 {
    flex: 0 0 8.333335%;
    max-width: 8.333335%;
  }
  .colspan-xxl-2,
  .cell-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .colspan-xxl-3,
  .cell-xxl-3 {
    flex: 0 0 25.000005%;
    max-width: 25.000005%;
  }
  .colspan-xxl-4,
  .cell-xxl-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
  .colspan-xxl-5,
  .cell-xxl-5 {
    flex: 0 0 41.666675%;
    max-width: 41.666675%;
  }
  .colspan-xxl-6,
  .cell-xxl-6 {
    flex: 0 0 50.00001%;
    max-width: 50.00001%;
  }
  .colspan-xxl-7,
  .cell-xxl-7 {
    flex: 0 0 58.333345%;
    max-width: 58.333345%;
  }
  .colspan-xxl-8,
  .cell-xxl-8 {
    flex: 0 0 66.66668%;
    max-width: 66.66668%;
  }
  .colspan-xxl-9,
  .cell-xxl-9 {
    flex: 0 0 75.000015%;
    max-width: 75.000015%;
  }
  .colspan-xxl-10,
  .cell-xxl-10 {
    flex: 0 0 83.33335%;
    max-width: 83.33335%;
  }
  .colspan-xxl-11,
  .cell-xxl-11 {
    flex: 0 0 91.666685%;
    max-width: 91.666685%;
  }
  .colspan-xxl-12,
  .cell-xxl-12 {
    flex: 0 0 100.00002%;
    max-width: 100.00002%;
  }
  .offset-xxl-12 {
    margin-left: 100.00002%;
  }
  .offset-xxl-11 {
    margin-left: 91.666685%;
  }
  .offset-xxl-10 {
    margin-left: 83.33335%;
  }
  .offset-xxl-9 {
    margin-left: 75.000015%;
  }
  .offset-xxl-8 {
    margin-left: 66.66668%;
  }
  .offset-xxl-7 {
    margin-left: 58.333345%;
  }
  .offset-xxl-6 {
    margin-left: 50.00001%;
  }
  .offset-xxl-5 {
    margin-left: 41.666675%;
  }
  .offset-xxl-4 {
    margin-left: 33.33334%;
  }
  .offset-xxl-3 {
    margin-left: 25.000005%;
  }
  .offset-xxl-2 {
    margin-left: 16.66667%;
  }
  .offset-xxl-1 {
    margin-left: 8.333335%;
  }
}
