Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.keypad {
  background-color: #ffffff;
  color: #1d1d1d;
  border: 1px solid #d9d9d9;
}
.keypad input {
  border: 0;
}
.keypad .keys {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  float: left;
  background-color: inherit;
  color: inherit;
  border: 1px solid #dfdfdf;
  padding: .625rem;
  user-select: none;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
.keypad .keys::before {
  content: '';
  position: absolute;
  background-color: inherit;
  width: 10px;
  height: 10px;
  border: 1px #dfdfdf solid;
  z-index: 2;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -5px;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
}
.keypad .keys.open {
  display: block;
  transition: all 0.3s ease-in-out;
}
.keypad .keys.right {
  left: 100%;
  transform: translateY(-50%);
  top: 50%;
  margin-left: -1px;
}
.keypad .keys.bottom {
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: -1px;
}
.keypad .keys.bottom::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(135deg);
}
.keypad .keys.top {
  top: 0;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
  margin-top: 1px;
}
.keypad .keys.top::before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(-45deg);
}
.keypad .keys.left {
  left: 0;
  transform: translateY(-50%) translateX(-100%);
  top: 50%;
  margin-left: 1px;
}
.keypad .keys.left::before {
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: -5px;
  transform: rotate(225deg);
}
.keypad .keys.bottom-left {
  top: 100%;
  left: 0;
  margin-top: -1px;
}
.keypad .keys.bottom-left::before {
  top: 0;
  left: .625rem;
  transform: rotate(135deg);
}
.keypad .keys.bottom-right {
  top: 100%;
  left: 100%;
  transform: translateX(-100%);
  margin-top: -1px;
}
.keypad .keys.bottom-right::before {
  top: 0;
  left: 100%;
  margin-left: -1rem;
  transform: rotate(135deg);
}
.keypad .keys.top-left {
  top: 0;
  left: 0;
  transform: translateY(-100%);
  margin-top: 1px;
}
.keypad .keys.top-left::before {
  top: 100%;
  left: .625rem;
  transform: rotate(-45deg);
}
.keypad .keys.top-right {
  top: 0;
  left: 100%;
  transform: translateY(-100%) translateX(-100%);
  margin-top: 1px;
}
.keypad .keys.top-right::before {
  top: 100%;
  left: 100%;
  margin-left: -1rem;
  transform: rotate(-45deg);
}
.keypad .key {
  display: block;
  position: relative;
  float: left;
  background-color: inherit;
  color: inherit;
  margin: .125rem;
  text-align: center;
  border: 1px solid #dfdfdf;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.keypad .key:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 3px rgba(228, 228, 228, 0.45);
}
.keypad .key.service-key {
  background-color: #f8f8f8;
}
