Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.step-list {
  margin: 0 0 0 2rem;
  padding: 0;
  list-style-type: none;
  counter-reset: li;
}
.step-list > li {
  border-left: 1px #ccc solid;
  position: relative;
  padding: 0 .625rem;
  margin: .625rem;
  vertical-align: top;
}
.step-list > li:before {
  position: absolute;
  content: counter(li);
  counter-increment: li;
  font-size: 2rem;
  color: #e4e4e4;
  left: 0;
  top: .3125rem;
  margin-left: -1.5rem;
}
