Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.listview {
  position: relative;
  margin: 0;
  padding: 0;
  max-height: 100%;
  background-color: #ffffff;
  color: #1d1d1d;
  list-style: none inside;
  display: flex;
}
.listview.view-list,
.listview.view-content {
  flex-flow: column wrap;
}
.listview.view-icons-medium,
.listview.view-icons-large,
.listview.view-icons,
.listview.view-tiles {
  flex-flow: row wrap;
}
.listview.view-table {
  flex-flow: column nowrap;
}
.listview .node {
  display: flex;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  border: 1px solid transparent;
}
.listview .node:hover {
  background-color: #e5f3ff;
}
.listview .node > .icon {
  text-align: center;
}
.listview .node > .icon img {
  max-width: 100%;
  height: 100%;
}
.listview .node > .icon [class*=mif-],
.listview .node > .icon img {
  vertical-align: initial;
}
.listview ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none inside;
}
.listview .node > .data > .content,
.listview .node > .node-data {
  display: none;
}
.listview:not(.selectable) .checkbox {
  display: none;
}
.listview.view-list .node,
.listview.view-table .node {
  min-width: 160px;
  line-height: 24px;
  height: 24px;
  padding: 1px 8px;
  flex-flow: row nowrap;
}
.listview.view-list .node > .icon,
.listview.view-table .node > .icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}
.listview.view-list .node > .data,
.listview.view-table .node > .data {
  line-height: 20px;
  padding-left: 24px;
}
.listview.view-list .node > .icon ~ .data,
.listview.view-table .node > .icon ~ .data {
  padding-left: 4px;
}
.listview.view-table .node-data {
  display: inline-block;
  width: auto;
  margin-left: auto;
  line-height: 20px;
}
.listview.view-content .node {
  width: 100%;
  height: 50px;
  padding: 10px 16px;
  flex-flow: row nowrap;
}
.listview.view-content .node > .icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 28px;
}
.listview.view-content .node > .data {
  padding-left: 64px;
  font-size: 16px;
  line-height: 32px;
  width: 100%;
}
.listview.view-content .node > .data .caption,
.listview.view-content .node > .data .content {
  display: block;
  line-height: 16px;
  height: 16px;
}
.listview.view-content .node > .data .content {
  font-size: .8em;
}
.listview.view-content .node > .icon ~ .data {
  padding-left: 16px;
}
.listview.view-content .node .checkbox {
  top: 6px;
}
.listview.view-content .node + .node {
  border-top: 1px solid #dfdfdf;
}
.listview.view-tiles .node {
  width: 250px;
  height: 56px;
  padding: 5px 16px;
  flex-flow: row nowrap;
}
.listview.view-tiles .node > .icon {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 42px;
}
.listview.view-tiles .node > .data {
  padding-left: 78px;
  font-size: 16px;
  line-height: 46px;
}
.listview.view-tiles .node > .icon + .data {
  padding-left: 16px;
}
.listview.view-tiles .node .checkbox {
  top: 12px;
}
.listview.view-icons .node,
.listview.view-icons-medium .node,
.listview.view-icons-large .node {
  width: 74px;
  height: auto;
  padding: 8px 8px 2px;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2px;
}
.listview.view-icons .node > .icon,
.listview.view-icons-medium .node > .icon,
.listview.view-icons-large .node > .icon {
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 42px;
}
.listview.view-icons .node > .data,
.listview.view-icons-medium .node > .data,
.listview.view-icons-large .node > .data {
  line-height: 1.5;
  white-space: normal;
  text-align: center;
}
.listview.view-icons .node .checkbox,
.listview.view-icons-medium .node .checkbox,
.listview.view-icons-large .node .checkbox {
  position: absolute;
  top: 0;
  left: 0;
}
.listview.view-icons-medium .node {
  width: 104px;
  margin: 1px;
}
.listview.view-icons-medium .node > .icon {
  width: 74px;
  height: 74px;
  line-height: 74px;
  font-size: 70px;
}
.listview.view-icons-large .node {
  width: 270px;
  margin: 2px;
  padding: 30px;
}
.listview.view-icons-large .node > .icon {
  width: 162px;
  height: 162px;
  line-height: 162px;
  font-size: 140px;
}
.listview .node.current-select {
  background-color: #cce8ff;
  border-color: #84bcea !important;
}
.listview .node-group {
  display: block;
  width: 100%;
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
}
.listview .node-group > .data {
  padding-left: 24px;
  line-height: 24px;
  font-size: 18px;
}
.listview .node-group .node-toggle {
  position: relative;
  cursor: pointer;
  padding-right: 1.5rem!important;
  user-select: none;
}
.listview .node-group .node-toggle::before {
  display: block;
  position: absolute;
  vertical-align: middle;
  color: transparent;
  font-size: 0;
  content: "";
  height: 0.3125rem;
  width: 0.3125rem;
  background-color: transparent;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #1d1d1d;
  top: 50%;
  left: 100%;
  margin-left: -1rem;
  margin-top: -0.1625rem;
  z-index: 2;
  transform: rotate(-45deg);
  transition: all 0.15s ease-in-out;
  transform-origin: center center 1px;
}
.listview .node-group .node-toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
}
.listview .node-group .node-toggle::before {
  transform: rotate(-135deg);
}
.listview .node-group.expanded > .node-toggle::before {
  transform: rotate(-45deg);
}
.listview .node-group + .node-group {
  margin-top: .5rem;
}
.listview .node-group + .listview {
  margin-top: .5rem;
}
