Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.media-player {
  display: block;
  position: relative;
  width: 100%;
  background: #000;
  height: auto;
  overflow: hidden;
  z-index: 1;
}
.media-player video {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.media-player .logo {
  display: block;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 3;
  height: 32px;
}
.media-player .logo img {
  height: 32px;
}
.media-player .preloader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.media-player .preloader.show {
  display: block;
}
.media-player .controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 2147483647;
  background-color: rgba(34, 34, 34, 0.5);
}
.media-player .controls.outside {
  position: relative;
}
.media-player .stream {
  display: block;
  padding: .625rem;
  order: 5;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.media-player .stream .slider {
  height: .875rem;
}
.media-player .load-audio {
  padding: 0;
  display: block;
  position: absolute;
  bottom: 4px;
  left: .625rem;
  width: calc(100% - 1.25rem);
}
.media-player button:focus {
  box-shadow: none!important;
}
.media-player .controls > button,
.media-player .info-box,
.media-player .volume {
  background-color: inherit;
  color: #555555;
  flex-shrink: 0;
  height: 36px;
  text-align: center;
}
.media-player .controls > button:hover,
.media-player .info-box:hover,
.media-player .volume:hover {
  color: #ffffff;
}
.media-player .controls > button.active,
.media-player .info-box.active,
.media-player .volume.active {
  background-color: rgba(111, 111, 111, 0.5);
}
.media-player .loop {
  order: 1;
  display: none;
}
.media-player .play {
  order: 2;
}
.media-player .stop {
  order: 3;
  display: none;
}
.media-player .info-box {
  width: auto;
  display: block;
  order: 4;
  background: rgba(34, 34, 34, 0.5);
  color: #ffffff;
  padding: 0.625rem;
  font-size: .6875rem;
  text-align: center;
  height: 36px;
  flex-shrink: 1;
  white-space: nowrap;
}
.media-player .mute {
  order: 6;
}
.media-player .volume {
  order: 7;
  width: 96px;
  padding: 0 .625rem;
  background: rgba(34, 34, 34, 0.5);
  display: none;
}
.media-player .full {
  order: 8;
}
video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}
video:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
:-ms-fullscreen {
  width: 100%;
}
.media-player.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483647;
  max-height: 100%!important;
  height: 100%!important;
}
.media-player .default-icon-loop {
  background-image: url('less/images/media/light/loop.svg');
}
.media-player .default-icon-play {
  background-image: url('less/images/media/light/play.svg');
}
.media-player .default-icon-pause {
  background-image: url('less/images/media/light/pause.svg');
}
.media-player .default-icon-stop {
  background-image: url('less/images/media/light/stop.svg');
}
.media-player .default-icon-mute {
  background-image: url('less/images/media/light/volume-mute.svg');
}
.media-player .default-icon-low-volume {
  background-image: url('less/images/media/light/volume-low.svg');
}
.media-player .default-icon-medium-volume {
  background-image: url('less/images/media/light/volume-medium.svg');
}
.media-player .default-icon-high-volume {
  background-image: url('less/images/media/light/volume-high.svg');
}
.media-player .default-icon-enlarge {
  background-image: url('less/images/media/light/enlarge.svg');
}
.media-player .default-icon-shrink {
  background-image: url('less/images/media/light/shrink.svg');
}
.media-player .default-icon-playlist {
  background-image: url('less/images/media/light/list.svg');
}
.media-player .default-icon-next {
  background-image: url('less/images/media/light/next.svg');
}
.media-player .default-icon-prev {
  background-image: url('less/images/media/light/prev.svg');
}
.media-player .default-icon-first {
  background-image: url('less/images/media/light/first.svg');
}
.media-player .default-icon-last {
  background-image: url('less/images/media/light/last.svg');
}
.media-player .default-icon-forward {
  background-image: url('less/images/media/light/forward.svg');
}
.media-player .default-icon-backward {
  background-image: url('less/images/media/light/backward.svg');
}
.media-player .default-icon-share {
  background-image: url('less/images/media/light/share.svg');
}
.media-player .default-icon-equalizer {
  background-image: url('less/images/media/light/equalizer.svg');
}
.media-player .default-icon-eject {
  background-image: url('less/images/media/light/eject.svg');
}
.media-player .default-icon-shuffle {
  background-image: url('less/images/media/light/shuffle.svg');
}
.media-player .default-icon-random {
  background-image: url('less/images/media/light/dice.svg');
}
.media-player.light {
  background-color: #f8f8f8;
}
.media-player.light .controls {
  background-color: inherit;
}
.media-player.light .controls .info-box,
.media-player.light .controls .volume {
  background-color: inherit;
  color: #1d1d1d;
}
.media-player.light .slider .buffer {
  height: 2px!important;
  background-color: #41545e;
}
.media-player.light .default-icon-loop {
  background-image: url('less/images/media/dark/loop.svg');
}
.media-player.light .default-icon-play {
  background-image: url('less/images/media/dark/play.svg');
}
.media-player.light .default-icon-pause {
  background-image: url('less/images/media/dark/pause.svg');
}
.media-player.light .default-icon-stop {
  background-image: url('less/images/media/dark/stop.svg');
}
.media-player.light .default-icon-mute {
  background-image: url('less/images/media/dark/volume-mute.svg');
}
.media-player.light .default-icon-low-volume {
  background-image: url('less/images/media/dark/volume-low.svg');
}
.media-player.light .default-icon-medium-volume {
  background-image: url('less/images/media/dark/volume-medium.svg');
}
.media-player.light .default-icon-high-volume {
  background-image: url('less/images/media/dark/volume-high.svg');
}
.media-player.light .default-icon-enlarge {
  background-image: url('less/images/media/dark/enlarge.svg');
}
.media-player.light .default-icon-shrink {
  background-image: url('less/images/media/dark/shrink.svg');
}
.media-player.light .default-icon-playlist {
  background-image: url('less/images/media/dark/list.svg');
}
.media-player.light .default-icon-next {
  background-image: url('less/images/media/dark/next.svg');
}
.media-player.light .default-icon-prev {
  background-image: url('less/images/media/dark/prev.svg');
}
.media-player.light .default-icon-first {
  background-image: url('less/images/media/dark/first.svg');
}
.media-player.light .default-icon-last {
  background-image: url('less/images/media/dark/last.svg');
}
.media-player.light .default-icon-forward {
  background-image: url('less/images/media/dark/forward.svg');
}
.media-player.light .default-icon-backward {
  background-image: url('less/images/media/dark/backward.svg');
}
.media-player.light .default-icon-share {
  background-image: url('less/images/media/dark/share.svg');
}
.media-player.light .default-icon-equalizer {
  background-image: url('less/images/media/dark/equalizer.svg');
}
.media-player.light .default-icon-eject {
  background-image: url('less/images/media/dark/eject.svg');
}
.media-player.light .default-icon-shuffle {
  background-image: url('less/images/media/dark/shuffle.svg');
}
.media-player.light .default-icon-random {
  background-image: url('less/images/media/dark/dice.svg');
}
.media-player.light .controls > button.active {
  background-color: #dfdfdf;
}
.audio-player {
  overflow: visible;
}
.audio-player .controls {
  position: relative;
}
@media screen and (min-width: 576px) {
  .media-player .volume,
  .media-player .loop,
  .media-player .stop {
    display: block;
  }
}
