Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.navview {
  display: block;
  position: relative;
  background-color: #ffffff;
  color: #1d1d1d;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}
.navview .navview-pane,
.navview .navview-content {
  display: block;
  transition: all .1s linear;
  min-height: 100%;
}
.navview .navview-pane {
  width: 280px;
  background-color: #e5e5e5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
  z-index: 1;
}
.navview .navview-pane.open {
  transform: translate3d(0, 0, 0);
}
.navview .navview-content {
  position: relative;
}
.navview .pull-button,
.navview .holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: inherit;
  margin-bottom: 8px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
}
.navview .holder {
  height: 40px;
  display: none;
}
.navview .navview-menu {
  display: block;
  position: relative;
  list-style: none inside;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.navview .navview-menu::-webkit-scrollbar {
  display: none!important;
}
.navview .navview-menu li {
  display: block;
  position: relative;
}
.navview .navview-menu li a {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  border: 2px solid transparent;
  height: 40px;
}
.navview .navview-menu .icon {
  width: 48px;
  height: 40px;
  display: block;
  text-align: center;
}
.navview .navview-menu .caption {
  padding-left: 48px;
  white-space: nowrap;
  display: block;
}
.navview .navview-menu .icon + .caption {
  padding-left: 0;
}
.navview .navview-menu .item-header {
  font-size: 22px;
  height: 32px;
  line-height: 32px;
  padding-left: 16px;
  cursor: default;
  background-color: transparent;
  white-space: nowrap;
  display: block;
}
.navview .navview-menu li.active::before {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  top: 8px;
  left: 0;
  width: 4px;
  background-color: #1ba1e2;
  z-index: 1;
}
.navview .navview-menu li.disabled {
  color: #9c9c9c !important;
}
.navview .navview-menu li.disabled img {
  opacity: .5;
}
.navview .pull-button > *,
.navview .navview-menu .icon > *,
.navview .suggest-box .holder > * {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  vertical-align: initial;
}
.navview .pull-button:hover,
.navview .holder:hover,
.navview .navview-menu li a:hover {
  background-color: #cecece;
}
.navview .pull-button:active,
.navview .holder:active,
.navview .navview-menu li a:active {
  background-color: #b7b7b7;
}
.navview .pull-button:focus,
.navview .holder:focus,
.navview .navview-menu li a:focus {
  border: 2px solid #0a0a0a;
}
.navview .suggest-box {
  display: block;
}
.navview .suggest-box .input,
.navview .suggest-box .select,
.navview .suggest-box .textarea {
  display: flex;
  width: calc(100% - 24px) !important;
  margin: 0 12px;
}
.navview .item-separator {
  height: 16px!important;
  width: 100%;
  display: block;
  background-color: transparent;
  cursor: default;
}
.navview .navview-menu .dropdown-toggle {
  padding-right: 0!important;
}
.navview .navview-menu .dropdown-toggle::before {
  display: none;
}
.navview .navview-menu .dropdown-toggle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #1d1d1d transparent;
  z-index: 1;
}
.navview.expand .navview-pane {
  width: 280px !important;
}
.navview.expand .navview-pane .navview-menu .caption,
.navview.expand .navview-pane .item-header {
  display: block!important;
}
.navview.expand .navview-pane .suggest-box .input,
.navview.expand .navview-pane .suggest-box .select,
.navview.expand .navview-pane .suggest-box .textarea {
  display: flex!important;
}
.navview.expand .navview-pane .holder {
  display: none!important;
}
.navview.compacted .navview-pane {
  width: 48px !important;
  transform: translate3d(0, 0, 0);
}
.navview.compacted .navview-pane .navview-menu .caption,
.navview.compacted .navview-pane .suggest-box .input,
.navview.compacted .navview-pane .suggest-box .select,
.navview.compacted .navview-pane .suggest-box .textarea,
.navview.compacted .navview-pane .item-header {
  display: none!important;
}
.navview.compacted .navview-pane .holder {
  display: block!important;
}
.navview.compacted .navview-content {
  margin-left: 48px !important;
}
@media screen and (min-width: 0) {
  .navview-margin-fs {
    margin-left: 280px;
  }
  .navview-margin-compact-fs {
    margin-left: 48px;
  }
  .navview.compact-fs .navview-pane {
    width: 48px;
    transform: translate3d(0, 0, 0);
  }
  .navview.compact-fs .navview-pane .navview-menu .caption,
  .navview.compact-fs .navview-pane .item-header {
    display: none;
  }
  .navview.compact-fs .navview-pane .suggest-box .input,
  .navview.compact-fs .navview-pane .suggest-box .select,
  .navview.compact-fs .navview-pane .suggest-box .textarea {
    display: none;
  }
  .navview.compact-fs .navview-pane .holder {
    display: block;
  }
  .navview.compact-fs .navview-content {
    margin-left: 48px;
  }
  .navview.expanded-fs .navview-pane {
    width: 280px;
    transform: translate3d(0, 0, 0);
  }
  .navview.expanded-fs .navview-pane .navview-menu .caption,
  .navview.expanded-fs .navview-pane .item-header {
    display: block;
  }
  .navview.expanded-fs .navview-pane .suggest-box .input,
  .navview.expanded-fs .navview-pane .suggest-box .select,
  .navview.expanded-fs .navview-pane .suggest-box .textarea {
    display: flex;
  }
  .navview.expanded-fs .navview-pane .holder {
    display: none;
  }
  .navview.expanded-fs .navview-content {
    margin-left: 280px;
  }
}
@media screen and (min-width: 576px) {
  .navview-margin-sm {
    margin-left: 280px;
  }
  .navview-margin-compact-sm {
    margin-left: 48px;
  }
  .navview.compact-sm .navview-pane {
    width: 48px;
    transform: translate3d(0, 0, 0);
  }
  .navview.compact-sm .navview-pane .navview-menu .caption,
  .navview.compact-sm .navview-pane .item-header {
    display: none;
  }
  .navview.compact-sm .navview-pane .suggest-box .input,
  .navview.compact-sm .navview-pane .suggest-box .select,
  .navview.compact-sm .navview-pane .suggest-box .textarea {
    display: none;
  }
  .navview.compact-sm .navview-pane .holder {
    display: block;
  }
  .navview.compact-sm .navview-content {
    margin-left: 48px;
  }
  .navview.expanded-sm .navview-pane {
    width: 280px;
    transform: translate3d(0, 0, 0);
  }
  .navview.expanded-sm .navview-pane .navview-menu .caption,
  .navview.expanded-sm .navview-pane .item-header {
    display: block;
  }
  .navview.expanded-sm .navview-pane .suggest-box .input,
  .navview.expanded-sm .navview-pane .suggest-box .select,
  .navview.expanded-sm .navview-pane .suggest-box .textarea {
    display: flex;
  }
  .navview.expanded-sm .navview-pane .holder {
    display: none;
  }
  .navview.expanded-sm .navview-content {
    margin-left: 280px;
  }
}
@media screen and (min-width: 768px) {
  .navview-margin-md {
    margin-left: 280px;
  }
  .navview-margin-compact-md {
    margin-left: 48px;
  }
  .navview.compact-md .navview-pane {
    width: 48px;
    transform: translate3d(0, 0, 0);
  }
  .navview.compact-md .navview-pane .navview-menu .caption,
  .navview.compact-md .navview-pane .item-header {
    display: none;
  }
  .navview.compact-md .navview-pane .suggest-box .input,
  .navview.compact-md .navview-pane .suggest-box .select,
  .navview.compact-md .navview-pane .suggest-box .textarea {
    display: none;
  }
  .navview.compact-md .navview-pane .holder {
    display: block;
  }
  .navview.compact-md .navview-content {
    margin-left: 48px;
  }
  .navview.expanded-md .navview-pane {
    width: 280px;
    transform: translate3d(0, 0, 0);
  }
  .navview.expanded-md .navview-pane .navview-menu .caption,
  .navview.expanded-md .navview-pane .item-header {
    display: block;
  }
  .navview.expanded-md .navview-pane .suggest-box .input,
  .navview.expanded-md .navview-pane .suggest-box .select,
  .navview.expanded-md .navview-pane .suggest-box .textarea {
    display: flex;
  }
  .navview.expanded-md .navview-pane .holder {
    display: none;
  }
  .navview.expanded-md .navview-content {
    margin-left: 280px;
  }
}
@media screen and (min-width: 992px) {
  .navview-margin-lg {
    margin-left: 280px;
  }
  .navview-margin-compact-lg {
    margin-left: 48px;
  }
  .navview.compact-lg .navview-pane {
    width: 48px;
    transform: translate3d(0, 0, 0);
  }
  .navview.compact-lg .navview-pane .navview-menu .caption,
  .navview.compact-lg .navview-pane .item-header {
    display: none;
  }
  .navview.compact-lg .navview-pane .suggest-box .input,
  .navview.compact-lg .navview-pane .suggest-box .select,
  .navview.compact-lg .navview-pane .suggest-box .textarea {
    display: none;
  }
  .navview.compact-lg .navview-pane .holder {
    display: block;
  }
  .navview.compact-lg .navview-content {
    margin-left: 48px;
  }
  .navview.expanded-lg .navview-pane {
    width: 280px;
    transform: translate3d(0, 0, 0);
  }
  .navview.expanded-lg .navview-pane .navview-menu .caption,
  .navview.expanded-lg .navview-pane .item-header {
    display: block;
  }
  .navview.expanded-lg .navview-pane .suggest-box .input,
  .navview.expanded-lg .navview-pane .suggest-box .select,
  .navview.expanded-lg .navview-pane .suggest-box .textarea {
    display: flex;
  }
  .navview.expanded-lg .navview-pane .holder {
    display: none;
  }
  .navview.expanded-lg .navview-content {
    margin-left: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .navview-margin-xl {
    margin-left: 280px;
  }
  .navview-margin-compact-xl {
    margin-left: 48px;
  }
  .navview.compact-xl .navview-pane {
    width: 48px;
    transform: translate3d(0, 0, 0);
  }
  .navview.compact-xl .navview-pane .navview-menu .caption,
  .navview.compact-xl .navview-pane .item-header {
    display: none;
  }
  .navview.compact-xl .navview-pane .suggest-box .input,
  .navview.compact-xl .navview-pane .suggest-box .select,
  .navview.compact-xl .navview-pane .suggest-box .textarea {
    display: none;
  }
  .navview.compact-xl .navview-pane .holder {
    display: block;
  }
  .navview.compact-xl .navview-content {
    margin-left: 48px;
  }
  .navview.expanded-xl .navview-pane {
    width: 280px;
    transform: translate3d(0, 0, 0);
  }
  .navview.expanded-xl .navview-pane .navview-menu .caption,
  .navview.expanded-xl .navview-pane .item-header {
    display: block;
  }
  .navview.expanded-xl .navview-pane .suggest-box .input,
  .navview.expanded-xl .navview-pane .suggest-box .select,
  .navview.expanded-xl .navview-pane .suggest-box .textarea {
    display: flex;
  }
  .navview.expanded-xl .navview-pane .holder {
    display: none;
  }
  .navview.expanded-xl .navview-content {
    margin-left: 280px;
  }
}
@media screen and (min-width: 1452px) {
  .navview-margin-xxl {
    margin-left: 280px;
  }
  .navview-margin-compact-xxl {
    margin-left: 48px;
  }
  .navview.compact-xxl .navview-pane {
    width: 48px;
    transform: translate3d(0, 0, 0);
  }
  .navview.compact-xxl .navview-pane .navview-menu .caption,
  .navview.compact-xxl .navview-pane .item-header {
    display: none;
  }
  .navview.compact-xxl .navview-pane .suggest-box .input,
  .navview.compact-xxl .navview-pane .suggest-box .select,
  .navview.compact-xxl .navview-pane .suggest-box .textarea {
    display: none;
  }
  .navview.compact-xxl .navview-pane .holder {
    display: block;
  }
  .navview.compact-xxl .navview-content {
    margin-left: 48px;
  }
  .navview.expanded-xxl .navview-pane {
    width: 280px;
    transform: translate3d(0, 0, 0);
  }
  .navview.expanded-xxl .navview-pane .navview-menu .caption,
  .navview.expanded-xxl .navview-pane .item-header {
    display: block;
  }
  .navview.expanded-xxl .navview-pane .suggest-box .input,
  .navview.expanded-xxl .navview-pane .suggest-box .select,
  .navview.expanded-xxl .navview-pane .suggest-box .textarea {
    display: flex;
  }
  .navview.expanded-xxl .navview-pane .holder {
    display: none;
  }
  .navview.expanded-xxl .navview-content {
    margin-left: 280px;
  }
}
