Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.activity-ring {
  position: relative;
  padding-top: .22rem;
  width: 32px;
  height: 32px;
  margin: .625rem;
}
.activity-ring > .wrap {
  position: absolute;
  width: 30px;
  height: 30px;
}
.activity-ring > .wrap > .circle {
  opacity: 0;
  width: 30px;
  height: 30px;
  transform: rotate(225deg);
  animation: orbit 4000ms infinite;
}
.activity-ring > .wrap > .circle:after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #ffffff;
}
.activity-ring > .wrap:nth-child(2) {
  transform: rotate(-14deg);
}
.activity-ring > .wrap:nth-child(2) > .circle {
  animation-delay: 133.33333333ms;
}
.activity-ring > .wrap:nth-child(3) {
  transform: rotate(-28deg);
}
.activity-ring > .wrap:nth-child(3) > .circle {
  animation-delay: 266.66666667ms;
}
.activity-ring > .wrap:nth-child(4) {
  transform: rotate(-42deg);
}
.activity-ring > .wrap:nth-child(4) > .circle {
  animation-delay: 400ms;
}
.activity-ring > .wrap:nth-child(5) {
  transform: rotate(-56deg);
}
.activity-ring > .wrap:nth-child(5) > .circle {
  animation-delay: 533.33333333ms;
}
.activity-ring.dark-style > .wrap > .circle:after {
  background-color: #989898;
}
.activity-ring.color-style > .wrap > .circle:after {
  background-color: #1ba1e2;
}
.activity-ring.color-style > .wrap:nth-child(2) > .circle:after {
  background-color: #fa6800;
}
.activity-ring.color-style > .wrap:nth-child(3) > .circle:after {
  background-color: #60a917;
}
.activity-ring.color-style > .wrap:nth-child(4) > .circle:after {
  background-color: #CE352C;
}
.activity-ring.color-style > .wrap:nth-child(5) > .circle:after {
  background-color: #fff000;
}
.activity-metro {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 10px;
  background-color: transparent;
}
.activity-metro > .circle {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 0;
  margin-left: 5px;
  animation: metro-slide 3s cubic-bezier(0.1, 0.85, 0.9, 0.15) infinite, metro-opacity 2s ease-in-out infinite alternate;
}
.activity-metro > .circle:nth-child(2) {
  animation-delay: .8s;
}
.activity-metro > .circle:nth-child(3) {
  animation-delay: .7s;
}
.activity-metro > .circle:nth-child(4) {
  animation-delay: .6s;
}
.activity-metro > .circle:nth-child(5) {
  animation-delay: .5s;
}
.activity-metro.dark-style > .circle {
  background-color: #989898;
}
.activity-metro.color-style > .circle {
  background-color: #1ba1e2;
}
.activity-metro.color-style > .circle:nth-child(2) {
  background-color: #fa6800;
}
.activity-metro.color-style > .circle:nth-child(3) {
  background-color: #60a917;
}
.activity-metro.color-style > .circle:nth-child(4) {
  background-color: #CE352C;
}
.activity-metro.color-style > .circle:nth-child(5) {
  background-color: #fff000;
}
.activity-square {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: bottom left;
  animation: ani-shrink 1s linear infinite;
}
.activity-square .square {
  position: absolute;
  width: 19px;
  height: 19px;
  background: #ffffff;
}
.activity-square .square:nth-child(1) {
  left: 0;
  top: 21px;
}
.activity-square .square:nth-child(2) {
  left: 21px;
  top: 21px;
  animation: ani-drop 1s linear infinite;
}
.activity-square .square:nth-child(3) {
  left: 0;
  top: 0;
  animation: ani-drop2 1s linear infinite;
}
.activity-square .square:nth-child(4) {
  left: 21px;
  top: 0;
  animation: ani-drop3 1s linear infinite;
}
.activity-square.dark-style > .square {
  background-color: #989898;
}
.activity-square.color-style > .square:nth-child(1) {
  background-color: #fa6800;
}
.activity-square.color-style > .square:nth-child(2) {
  background-color: #60a917;
}
.activity-square.color-style > .square:nth-child(3) {
  background-color: #1ba1e2;
}
.activity-square.color-style > .square:nth-child(4) {
  background-color: #fff000;
}
.activity-cycle {
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.activity-cycle .cycle {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  animation: ani-pre-spin 1s linear infinite;
  z-index: 1001;
}
.activity-cycle .cycle::before,
.activity-cycle .cycle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
}
.activity-cycle .cycle:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  animation: ani-pre-spin 2s linear infinite;
}
.activity-cycle .cycle:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  animation: spin 1.5s linear infinite;
}
.activity-cycle.dark-style .cycle {
  border-top-color: #1d1d1d;
}
.activity-cycle.dark-style .cycle:before {
  border-top-color: #1d1d1d;
}
.activity-cycle.dark-style .cycle:after {
  border-top-color: #1d1d1d;
}
.activity-cycle.color-style .cycle {
  border-top-color: #1ba1e2;
}
.activity-cycle.color-style .cycle:before {
  border-top-color: #CE352C;
}
.activity-cycle.color-style .cycle:after {
  border-top-color: #fff000;
}
.activity-simple {
  width: 64px;
  height: 64px;
}
.activity-simple .circular {
  animation: rotate 2s linear infinite;
  position: relative;
  width: 100%;
  height: 100%;
}
.activity-simple .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ffffff;
}
.activity-simple.dark-style .path {
  stroke: #1d1d1d;
}
.activity-simple.color-style .path {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}
.activity-simple.small {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.activity-simple.small .circular {
  width: 32px;
  height: 32px;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #CE352C;
  }
  40% {
    stroke: #00AFF0;
  }
  66% {
    stroke: #60a917;
  }
  80%,
  90% {
    stroke: #fff000;
  }
}
.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 12px;
  background-color: #eeeeee;
  overflow: hidden;
}
.progress.with-load {
  background: transparent;
}
.progress .bar,
.progress .buffer,
.progress .load {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.progress .load {
  width: 100%;
  animation: progress-loading 3s infinite linear;
  background: radial-gradient(#a9c0e9 0%, #a9c0e9 16%, transparent 42%);
  background-size: 12px 12px;
  z-index: 1;
  margin-top: -1px;
}
.progress .buffer {
  z-index: 2;
  background-color: #CE352C;
}
.progress .bar {
  z-index: 3;
  background: #60a917;
}
.progress.line {
  background-color: #b3d4fc;
  display: flex;
}
.progress.line::before {
  height: 100%;
  width: 100%;
  background-color: #004d6f;
  content: '';
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.progress.small {
  height: 6px;
}
.progress.small .load {
  background-size: 6px 6px;
}
@keyframes progress-loading {
  0% {
    opacity: 1;
    background-position: 0px -23px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-position: -200px -23px;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
