Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.ribbon-menu {
  display: block;
  position: relative;
}
.ribbon-menu .tabs-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none inside none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #dadbdc;
}
.ribbon-menu .tabs-holder li,
.ribbon-menu .tabs-holder a {
  display: block;
  height: 24px;
  line-height: 24px;
}
.ribbon-menu .tabs-holder li {
  color: #1d1d1d;
  background-color: #ffffff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #dadbdc;
}
.ribbon-menu .tabs-holder li:hover {
  border-left-color: #dadbdc;
  border-right-color: #dadbdc;
}
.ribbon-menu .tabs-holder li + li {
  margin-left: 3px;
}
.ribbon-menu .tabs-holder a {
  text-decoration: none;
  padding: 0 14px;
  font-size: 12px;
  background-color: inherit;
  color: inherit;
}
.ribbon-menu .tabs-holder .active {
  background-color: #f5f6f7;
  border: 1px solid #dadbdc;
  border-bottom-color: transparent;
}
.ribbon-menu .tabs-holder .static {
  background-color: #1979ca;
  color: #ffffff;
}
.ribbon-menu .content-holder {
  display: block;
  position: relative;
  border-left: 1px solid #dadbdc;
  border-right: 1px solid #dadbdc;
}
.ribbon-menu .content-holder .section {
  display: none;
  padding: 4px 4px;
  border-bottom: 1px solid #dadbdc;
  background-color: #f5f6f7;
  justify-content: flex-start;
}
.ribbon-menu .content-holder .section.active {
  display: flex;
}
.ribbon-menu .content-holder .group {
  padding: 0 4px 24px;
  display: flex;
  cursor: default;
  background-color: inherit;
  position: relative;
  align-items: flex-start;
  align-content: flex-start;
}
.ribbon-menu .content-holder .group:nth-child(1):last-child {
  flex-basis: 100%;
}
.ribbon-menu .content-holder .group .title {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  height: 20px;
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #dadbdc;
  white-space: nowrap;
}
.ribbon-menu .content-holder .group .group-divider {
  display: block;
  position: relative;
  height: 100%;
  margin: 0 4px;
  width: 1px;
  background-color: #dadbdc;
}
.ribbon-menu .content-holder .group > *:not(.title),
.ribbon-menu .content-holder .group > *:not(.group-divider) {
  margin: 2px;
}
.ribbon-menu .content-holder .group + .group {
  border-left: 1px solid #dadbdc;
}
.ribbon-button,
.ribbon-tool-button,
.ribbon-button-dropdown,
.ribbon-icon-button {
  cursor: pointer;
  min-width: 0;
  text-align: center;
  border: 1px solid transparent;
  background-color: inherit;
  outline: none;
  position: relative;
}
.ribbon-button {
  height: auto;
  min-height: 64px;
  width: auto;
  padding: 4px;
  margin: 0;
}
.ribbon-button:hover {
  border-color: #a4cef9;
  background-color: rgba(164, 206, 249, 0.2);
}
.ribbon-button .caption,
.ribbon-button .icon {
  display: block;
  text-align: center;
}
.ribbon-button .caption {
  font-size: 12px;
}
.ribbon-button .icon * {
  height: 32px;
  max-width: 32px;
  font-size: 26px;
  line-height: 32px;
}
.ribbon-button .icon + .caption {
  margin-top: 8px;
}
.ribbon-button.dropdown-toggle {
  padding-right: 4px!important;
}
.ribbon-button.dropdown-toggle::before {
  margin-left: -0.65rem;
}
.ribbon-icon-button {
  height: 24px;
  width: auto;
  margin: 0;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 2px 4px;
}
.ribbon-icon-button:hover {
  border-color: #a4cef9;
  background-color: rgba(164, 206, 249, 0.2);
}
.ribbon-icon-button .caption,
.ribbon-icon-button .icon {
  display: block;
}
.ribbon-icon-button .caption {
  font-size: 12px;
}
.ribbon-icon-button .icon * {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
}
.ribbon-icon-button .icon + .caption,
.ribbon-icon-button .caption + .icon {
  margin-left: 4px;
}
.ribbon-icon-button [class*=mif-] {
  vertical-align: inherit;
}
.ribbon-tool-button {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin: 0;
}
.ribbon-tool-button * {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
}
.ribbon-icon-button.dropdown-toggle,
.ribbon-tool-button.dropdown-toggle {
  padding-right: 2px!important;
}
.ribbon-icon-button.dropdown-toggle::before,
.ribbon-tool-button.dropdown-toggle::before {
  display: none;
}
.ribbon-icon-button.dropdown-toggle::after,
.ribbon-tool-button.dropdown-toggle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 4px 4px;
  border-color: transparent transparent #1d1d1d transparent;
  z-index: 1;
}
.ribbon-icon-button.dropdown-toggle {
  padding-right: 4px!important;
}
.ribbon-split-button {
  text-align: center;
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
}
.ribbon-split-button:hover {
  border-color: #a4cef9;
}
.ribbon-split-button:hover .ribbon-split {
  border-color: #a4cef9;
}
.ribbon-split-button .ribbon-main,
.ribbon-split-button .ribbon-split {
  display: block;
  text-align: center;
  min-width: 0;
  padding: 2px 4px;
  width: 100%;
  cursor: pointer;
}
.ribbon-split-button .ribbon-main:hover,
.ribbon-split-button .ribbon-split:hover {
  background-color: rgba(164, 206, 249, 0.2);
}
.ribbon-split-button .ribbon-main {
  background-color: inherit;
  outline: none;
  position: relative;
  border: none;
}
.ribbon-split-button .icon * {
  height: 32px;
  max-width: 32px;
  font-size: 26px;
  line-height: 32px;
}
.ribbon-split-button .icon + .caption {
  margin-top: 8px;
}
.ribbon-split-button .ribbon-split {
  font-size: 12px;
  border-top: 1px solid transparent;
  padding-bottom: 4px;
}
.ribbon-split-button .ribbon-split.dropdown-toggle {
  padding-right: 4px!important;
}
.ribbon-split-button .ribbon-split.dropdown-toggle::before {
  display: none;
}
.ribbon-split-button .ribbon-split.dropdown-toggle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 4px 4px;
  border-color: transparent transparent #1d1d1d transparent;
  z-index: 1;
}
.ribbon-dropdown {
  list-style: none inside none;
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
  float: left;
  display: block;
  position: absolute;
  background-color: #fbfcfd;
  color: #1d1d1d;
  padding: 2px;
  border: 1px solid #dadbdc;
  font-size: 12px;
  box-shadow: 2px 2px 2px 0 rgba(227, 228, 229, 0.7);
  z-index: 1000;
  top: 100%;
  left: 0;
}
.ribbon-dropdown li,
.ribbon-dropdown a {
  display: block;
  position: relative;
  background-color: inherit;
  color: inherit;
  height: 24px;
}
.ribbon-dropdown li {
  border: 1px solid transparent;
  padding-left: 24px;
}
.ribbon-dropdown li:hover {
  border-color: #a4cef9;
  background-color: rgba(164, 206, 249, 0.2);
}
.ribbon-dropdown a {
  line-height: 24px;
  text-decoration: none;
  padding: 0 8px;
  border-left: 1px solid #dcddde;
  white-space: nowrap;
}
.ribbon-dropdown .divider {
  display: block;
  height: 1px;
  width: 100%;
  position: relative;
  background-color: #dcddde;
}
.ribbon-dropdown .checked::before,
.ribbon-dropdown .checked-one::before,
.ribbon-dropdown .checked::after,
.ribbon-dropdown .checked-one::after {
  position: absolute;
  display: block;
  content: "";
}
.ribbon-dropdown .checked::before,
.ribbon-dropdown .checked-one::before {
  background-color: transparent;
  border-color: #1d1d1d;
  border-left: 2px solid;
  border-bottom: 2px solid;
  height: .325rem;
  width: .5rem;
  left: .5rem;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 2;
}
.ribbon-dropdown .checked::after,
.ribbon-dropdown .checked-one::after {
  width: 23px;
  height: 22px;
  top: 0;
  left: 0;
  border: 1px solid #a4cef9;
  background-color: rgba(164, 206, 249, 0.2);
  z-index: 1;
}
.ribbon-dropdown .checked-one::before {
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background-color: #1d1d1d;
}
.ribbon-dropdown .ribbon-dropdown {
  top: -4px;
  left: 100%;
}
.ribbon-dropdown .dropdown-toggle::before {
  transform: rotate(-135deg) !important;
}
.ribbon-dropdown .dropdown-toggle.active-toggle::before {
  transform: rotate(45deg) !important;
}
.ribbon-toggle-group {
  background-color: #f8f8f8;
  display: flex;
  flex-flow: column wrap;
  max-height: 80px;
  border: 1px solid #dadbdc;
  width: auto;
}
.ribbon-toggle-group .ribbon-icon-button {
  height: 20px;
  margin: 1px;
  padding: 1px 4px;
  background-color: inherit;
}
.ribbon-button:hover,
.ribbon-tool-button:hover,
.ribbon-icon-button:hover {
  border-color: #a4cef9;
  background-color: rgba(164, 206, 249, 0.2);
}
.ribbon-button:active,
.ribbon-tool-button:active,
.ribbon-split:active,
.ribbon-main:active,
.ribbon-icon-button:active,
.ribbon-button.active,
.ribbon-tool-button.active,
.ribbon-split.active,
.ribbon-main.active,
.ribbon-icon-button.active {
  border-color: #1979ca;
  background-color: rgba(164, 206, 249, 0.8) !important;
}
.ribbon-menu .active-container .ribbon-button,
.ribbon-menu .active-container .ribbon-tool-button,
.ribbon-menu .active-container .ribbon-icon-button {
  border-color: #1979ca;
  background-color: rgba(164, 206, 249, 0.8) !important;
}
