@import (once) "include/vars";
@import (once) "include/mixins";

.w-sx {width: 320px;}
.w-sm {width: 480px;}
.w-ld {width: 640px;}
.w-md {width: 768px;}
.w-lg {width: 1024px;}
.w-xl {width: 1200px;}
.w-xxl {width: 1440px;}
.w-auto {width: auto!important;}
.h-auto {height: auto!important;}

.h-vh-100 {height: 100vh!important;}
.h-vh-75 {height: 75vh!important;}
.h-vh-50 {height: 50vh!important;}
.h-vh-25 {height: 25vh!important;}
.h-vh-10 {height: 10vh!important;}
.h-vh-5 {height: 5vh!important;}

.w-vw-100 {height: 100vh!important;}
.w-vw-75 {height: 75vh!important;}
.w-vw-50 {height: 50vh!important;}
.w-vw-25 {height: 25vh!important;}
.w-vw-10 {height: 10vh!important;}
.w-vw-5 {height: 5vh!important;}

.generate-width(4);
.generate-width(@i) when (@i > 0) {

    @s: @i * 25;

    .w-@{s} {width: @i * 25 + 0% !important;}
    .h-@{s} {height: @i * 25 + 0% !important;}
    .mh-@{s} {max-height: @i * 25 + 0% !important;}
    .mw-@{s} {max-width: @i * 25 + 0% !important;}

    .generate-width(@i - 1);
}

.generate-sizing-media-options(@mediaBreakpointListMobileLength);
.generate-sizing-media-options(@name, @i: 1) when (@i <= @mediaBreakpointListMobileLength) {
    @m: extract(@mediaBreakpointListMobile, @i);

    @media screen and (min-width: @@m) {

        .w-auto-@{m} {width: auto!important;}
        .h-auto-@{m} {width: auto!important;}

        .h-vh-100-@{m} {height: 100vh!important;}
        .h-vh-75-@{m} {height: 75vh!important;}
        .h-vh-50-@{m} {height: 50vh!important;}
        .h-vh-25-@{m} {height: 25vh!important;}
        .h-vh-10-@{m} {height: 10vh!important;}
        .h-vh-5-@{m} {height: 5vh!important;}

        .w-vw-100-@{m} {height: 100vh!important;}
        .w-vw-75-@{m} {height: 75vh!important;}
        .w-vw-50-@{m} {height: 50vh!important;}
        .w-vw-25-@{m} {height: 25vh!important;}
        .w-vw-10-@{m} {height: 10vh!important;}
        .w-vw-5-@{m} {height: 5vh!important;}

        .generate-width(4);
        .generate-width(@i) when (@i > 0) {

            @s: @i * 25;

            .w-@{s}-@{m} {width: @i * 25 + 0% !important;}
            .h-@{s}-@{m} {height: @i * 25 + 0% !important;}
            .mh-@{s}-@{m} {max-height: @i * 25 + 0% !important;}
            .mw-@{s}-@{m} {max-width: @i * 25 + 0% !important;}

            .generate-width(@i - 1);
        }
    }

    .generate-sizing-media-options(@name, @i + 1);
}
