Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.slider {
  display: block;
  position: relative;
  height: 2.125rem;
  background: transparent;
  cursor: default;
}
.slider input {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.slider .backside,
.slider .complete,
.slider .buffer,
.slider .marker {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slider .backside {
  background-color: #bebebe;
  width: 100%;
  z-index: 1;
  height: .6rem;
}
.slider .buffer {
  z-index: 2;
  height: .3rem;
  background-color: #ffffff;
}
.slider .complete {
  z-index: 3;
  height: .6rem;
  background-color: #60a917;
}
.slider .marker {
  width: 1rem;
  height: 1rem;
  background-color: #1d1d1d;
  z-index: 4;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
}
.slider .marker:focus {
  box-shadow: 0 0 0 3px rgba(228, 228, 228, 0.45);
}
.slider .marker:active::after {
  display: block;
  content: "";
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: rgba(187, 187, 187, 0.5);
  opacity: .3;
  top: 50%;
  left: 50%;
  margin-top: -1.5625rem;
  margin-left: -1.5625rem;
}
.slider .hint {
  display: none;
  position: absolute;
  z-index: 5;
  width: auto!important;
  height: auto!important;
  padding: .25rem .5rem;
  background-color: #989898;
  color: #ffffff;
  white-space: nowrap;
}
.slider .hint::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: inherit;
}
.slider .hint.top-side {
  top: 0;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
  margin-top: -8px;
}
.slider .hint.top-side::before {
  top: 100%;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  margin-top: -1px;
}
.slider .hint.bottom-side {
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 8px;
}
.slider .hint.bottom-side::before {
  top: 0;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  margin-top: -1px;
}
.slider .hint.left-side {
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  margin-left: -8px;
}
.slider .hint.left-side::before {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
  margin-right: -3px;
}
.slider .hint.right-side {
  left: 100%;
  transform: translateY(-50%);
  top: 50%;
  margin-left: 8px;
}
.slider .hint.right-side::before {
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.slider .marker.left-knob {
  left: 0;
}
.slider .marker.right-knob {
  left: auto;
  right: 0;
}
.slider.range .complete {
  width: 100%;
}
.slider.thin .backside,
.slider.thin .complete,
.slider.thin .buffer {
  height: 6px;
}
.slider.ultra-thin .backside,
.slider.ultra-thin .complete,
.slider.ultra-thin .buffer {
  height: 4px;
}
.slider.cycle-marker .marker {
  border-radius: 50%;
}
.slider.vertical-slider {
  width: 2.125rem;
  height: 100px;
}
.slider.vertical-slider .backside,
.slider.vertical-slider .complete,
.slider.vertical-slider .buffer,
.slider.vertical-slider .marker {
  top: auto;
  left: 50%;
  transform: translateY(0) translateX(-50%);
}
.slider.vertical-slider .backside,
.slider.vertical-slider .complete,
.slider.vertical-slider .buffer {
  width: .5rem;
  bottom: 0;
}
.slider.vertical-slider .backside {
  height: 100%;
}
.slider.vertical-slider .buffer {
  width: .3rem;
}
.slider.vertical-slider .marker {
  top: 100%;
  transform: translateY(-100%) translateX(-50%);
}
.slider.rounded .backside,
.slider.rounded .complete,
.slider.rounded .buffer,
.slider.rounded .marker {
  border-radius: 0.25rem;
}
