Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.tabs {
  position: relative;
  min-height: 3rem;
  border: 1px solid #dfdfdf;
  transition: all 0.3s ease-in-out;
}
.tabs .expand-button,
.tabs .expand-title {
  cursor: pointer;
}
.tabs .expand-button {
  position: absolute;
  top: .25rem;
  right: .25rem;
  display: block;
}
.tabs .expand-title {
  display: block;
  padding: .65rem 1rem 0;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}
.tabs > ul {
  list-style: none inside none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: 1px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  position: relative;
}
.tabs > ul > li,
.tabs > ul a {
  display: block;
  position: relative;
}
.tabs > ul > li {
  background-color: #ffffff;
  color: #1d1d1d;
  margin: 0 0 -1px 0;
}
.tabs > ul li a {
  padding: .5rem 1rem;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}
.tabs > ul > li:hover {
  background-color: #f8f8f8;
}
.tabs > ul > li.active {
  background-color: #dfdfdf;
}
.tabs > ul .d-menu {
  position: relative;
  width: 100%;
  box-shadow: none;
}
.tabs.bottom > ul {
  border: none;
}
.tabs.bottom > ul > li {
  margin: -1px 0 0 0;
}
.tabs.vertical > ul {
  flex-direction: column;
  border: none;
  border-right: 1px solid #dfdfdf;
  width: auto;
  height: 100%;
  justify-content: inherit;
}
.tabs.vertical > ul > li {
  border: none;
  border-right: 1px solid #dfdfdf;
  margin: 0 -1px 0 0;
}
.tabs.vertical > ul > li > a {
  text-align: right;
}
.tabs.vertical > ul > li.active {
  border: 1px solid #dfdfdf;
  border-right: none;
}
.tabs.vertical.right > ul {
  border: none;
  border-left: 1px solid #dfdfdf;
}
.tabs.vertical.right > ul > li {
  border: none;
  border-left: 1px solid #dfdfdf;
  margin: 0 0 0 -1px;
}
.tabs.vertical.right > ul > li > a {
  text-align: left;
}
.tabs.vertical.right > ul > li.active {
  border: 1px solid #dfdfdf;
  border-left: none;
}
.tabs.vertical {
  min-width: 3.5rem;
}
.tabs.vertical .expand-title {
  display: none!important;
}
@media screen and (min-width: 0) {
  .tabs-expand-fs {
    border: none;
  }
  .tabs-expand-fs > ul {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    flex-direction: row;
    display: flex !important;
    margin-top: 0;
    height: auto;
    max-height: none;
    overflow: visible;
  }
  .tabs-expand-fs > ul > li {
    border-bottom: 1px solid #dfdfdf;
  }
  .tabs-expand-fs > ul > li.active {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    background-color: #ffffff;
  }
  .tabs-expand-fs > ul .d-menu {
    position: absolute;
    width: auto;
    box-shadow: 2px 2px 2px 0 rgba(227, 228, 229, 0.7), -0.5px 0 1px 0 rgba(227, 228, 229, 0.7);
  }
  .tabs-expand-fs.bottom > ul {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-fs.bottom > ul > li {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-fs.bottom > ul > li.active {
    border: 1px solid #dfdfdf;
    border-top: none;
  }
  .tabs-expand-fs.vertical {
    flex-direction: column;
  }
  .tabs-expand-fs .expand-button,
  .tabs-expand-fs .expand-title {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .tabs-expand-sm {
    border: none;
  }
  .tabs-expand-sm > ul {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    flex-direction: row;
    display: flex !important;
    margin-top: 0;
    height: auto;
    max-height: none;
    overflow: visible;
  }
  .tabs-expand-sm > ul > li {
    border-bottom: 1px solid #dfdfdf;
  }
  .tabs-expand-sm > ul > li.active {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    background-color: #ffffff;
  }
  .tabs-expand-sm > ul .d-menu {
    position: absolute;
    width: auto;
    box-shadow: 2px 2px 2px 0 rgba(227, 228, 229, 0.7), -0.5px 0 1px 0 rgba(227, 228, 229, 0.7);
  }
  .tabs-expand-sm.bottom > ul {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-sm.bottom > ul > li {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-sm.bottom > ul > li.active {
    border: 1px solid #dfdfdf;
    border-top: none;
  }
  .tabs-expand-sm.vertical {
    flex-direction: column;
  }
  .tabs-expand-sm .expand-button,
  .tabs-expand-sm .expand-title {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .tabs-expand-md {
    border: none;
  }
  .tabs-expand-md > ul {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    flex-direction: row;
    display: flex !important;
    margin-top: 0;
    height: auto;
    max-height: none;
    overflow: visible;
  }
  .tabs-expand-md > ul > li {
    border-bottom: 1px solid #dfdfdf;
  }
  .tabs-expand-md > ul > li.active {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    background-color: #ffffff;
  }
  .tabs-expand-md > ul .d-menu {
    position: absolute;
    width: auto;
    box-shadow: 2px 2px 2px 0 rgba(227, 228, 229, 0.7), -0.5px 0 1px 0 rgba(227, 228, 229, 0.7);
  }
  .tabs-expand-md.bottom > ul {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-md.bottom > ul > li {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-md.bottom > ul > li.active {
    border: 1px solid #dfdfdf;
    border-top: none;
  }
  .tabs-expand-md.vertical {
    flex-direction: column;
  }
  .tabs-expand-md .expand-button,
  .tabs-expand-md .expand-title {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .tabs-expand-lg {
    border: none;
  }
  .tabs-expand-lg > ul {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    flex-direction: row;
    display: flex !important;
    margin-top: 0;
    height: auto;
    max-height: none;
    overflow: visible;
  }
  .tabs-expand-lg > ul > li {
    border-bottom: 1px solid #dfdfdf;
  }
  .tabs-expand-lg > ul > li.active {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    background-color: #ffffff;
  }
  .tabs-expand-lg > ul .d-menu {
    position: absolute;
    width: auto;
    box-shadow: 2px 2px 2px 0 rgba(227, 228, 229, 0.7), -0.5px 0 1px 0 rgba(227, 228, 229, 0.7);
  }
  .tabs-expand-lg.bottom > ul {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-lg.bottom > ul > li {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-lg.bottom > ul > li.active {
    border: 1px solid #dfdfdf;
    border-top: none;
  }
  .tabs-expand-lg.vertical {
    flex-direction: column;
  }
  .tabs-expand-lg .expand-button,
  .tabs-expand-lg .expand-title {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .tabs-expand-xl {
    border: none;
  }
  .tabs-expand-xl > ul {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    flex-direction: row;
    display: flex !important;
    margin-top: 0;
    height: auto;
    max-height: none;
    overflow: visible;
  }
  .tabs-expand-xl > ul > li {
    border-bottom: 1px solid #dfdfdf;
  }
  .tabs-expand-xl > ul > li.active {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    background-color: #ffffff;
  }
  .tabs-expand-xl > ul .d-menu {
    position: absolute;
    width: auto;
    box-shadow: 2px 2px 2px 0 rgba(227, 228, 229, 0.7), -0.5px 0 1px 0 rgba(227, 228, 229, 0.7);
  }
  .tabs-expand-xl.bottom > ul {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-xl.bottom > ul > li {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-xl.bottom > ul > li.active {
    border: 1px solid #dfdfdf;
    border-top: none;
  }
  .tabs-expand-xl.vertical {
    flex-direction: column;
  }
  .tabs-expand-xl .expand-button,
  .tabs-expand-xl .expand-title {
    display: none;
  }
}
@media screen and (min-width: 1452px) {
  .tabs-expand-xxl {
    border: none;
  }
  .tabs-expand-xxl > ul {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    flex-direction: row;
    display: flex !important;
    margin-top: 0;
    height: auto;
    max-height: none;
    overflow: visible;
  }
  .tabs-expand-xxl > ul > li {
    border-bottom: 1px solid #dfdfdf;
  }
  .tabs-expand-xxl > ul > li.active {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    background-color: #ffffff;
  }
  .tabs-expand-xxl > ul .d-menu {
    position: absolute;
    width: auto;
    box-shadow: 2px 2px 2px 0 rgba(227, 228, 229, 0.7), -0.5px 0 1px 0 rgba(227, 228, 229, 0.7);
  }
  .tabs-expand-xxl.bottom > ul {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-xxl.bottom > ul > li {
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .tabs-expand-xxl.bottom > ul > li.active {
    border: 1px solid #dfdfdf;
    border-top: none;
  }
  .tabs-expand-xxl.vertical {
    flex-direction: column;
  }
  .tabs-expand-xxl .expand-button,
  .tabs-expand-xxl .expand-title {
    display: none;
  }
}
