@import (once) "../../include/vars";
@import (once) "../../include/mixins";

.time-picker {
    .hideElement(input);

    input:focus ~ .time-wrapper {
        .focus-show(@light-gray);
    }

    .time-wrapper {
        display: inline-flex;
        flex-flow: row nowrap;
        position: relative;
        border: 1px solid var(--border-color);
        width: 100%;
        overflow: hidden;
        height: 100%;
        border-radius: var(--wheel-picker-border-radius);
    }

    .hours, .minutes, .seconds {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        border: 1px solid var(--border-color);
        text-align: center;
        height: 100%;
        position: relative;
    }

    &.show-labels {
        .hours, .minutes, .seconds {
            line-height: 30px;
            &::before {
                content: attr(data-title);
                position: absolute;
                display: block;
                font-size: 8px;
                line-height: 12px;
                left: 50%;
                bottom: 0;
                .translate3d(-50%, 0, 0);
            }
        }
    }

    .action-block {
        border: 1px solid var(--border-color);
        border-radius: var(--datepicker-border-radius);
    }

    .button {
        margin: 2px;

        .icon {
            font-family: "Segoe UI Symbol", serif;
        }
    }

    li {
        cursor: pointer;
    }
}