body {
    background-color: #fff;
}
.page {
    width: 940px ;
    margin: auto;
    background-color: #fff;
}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}


.github-info {
    margin-top: 10px;
}

.github-info li {
    float: left;
    margin-left: 10px;
    width: auto;
}

.github-info li span{
    text-align: center;
    display: block;
    border: 1px #ccc solid;
    border-radius: 100%;
    padding: 5px;
    margin-top: -5px;
}

.github-info li a img {width: 24px;}

.header-bar-inner > ul li a {font-size: 9pt;}
.header-bar-inner > ul li span {width: 30px; height: 30px; font-size: 9pt; border: 0;}
.header-bar-inner > ul li a img {width: 18px;}

@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
    .hero-unit > img {
        zoom: .6;
    }
}

@media (max-width: 767px) {
    .page {
        width: 100%;
    }

    .hero-unit > img {
        zoom: .6;
    }

    #brand-name {
        display: none;
    }
    .modern-ui-logo {
        width: 24px;
        height: 24px;
    }
    .github-info {
        margin-top: 5px;
    }
    #jetbrains {
        display: none;
    }

    a, .link {
        font-size: 9pt;
    }

    .prettyprint {
        display: none;
    }
}

@media (max-width: 480px) {
    .hero-unit img {
        display: none;
    }

}