.metro .card {
  width: 76px;
  height: 106px;
  border: 1px #f4f4f4 solid;
  border-radius: 0px;
  position: relative;
  float: left;
  display: block;
  margin: 5px;
  cursor: pointer;
  background: #fff;
}
.metro .card:hover {
  box-shadow: 1px 1px 1px #ccc;
}
.metro .card .small-suit {
  font-size: 22pt;
}
.metro .card .suit {
  font-size: 84px;
  position: absolute;
  right: 5px;
  bottom: 30px;
}
.metro .card .small-suit:after {
  top: 5px;
  left: 10px;
  position: absolute;
}
.metro .card .small-suit:before {
  top: 28px;
  left: 10px;
  position: absolute;
}
.metro .card .suit:after {
  position: relative;
}
.metro .red {
  color: red;
}
.metro .black {
  color: black;
}
.metro .card.two .small-suit:after {
  content: "2";
}
.metro .card.three .small-suit:after {
  content: "3";
}
.metro .card.four .small-suit:after {
  content: "4";
}
.metro .card.five .small-suit:after {
  content: "5";
}
.metro .card.six .small-suit:after {
  content: "6";
}
.metro .card.seven .small-suit:after {
  content: "7";
}
.metro .card.eight .small-suit:after {
  content: "8";
}
.metro .card.nine .small-suit:after {
  content: "9";
}
.metro .card.ten .small-suit:after {
  content: "10";
  margin-left: -7px;
}
.metro .card.jack .small-suit:after {
  content: "J";
}
.metro .card.dame .small-suit:after {
  content: "Q";
}
.metro .card.king .small-suit:after {
  content: "K";
}
.metro .card.ace .small-suit:after {
  content: "A";
}
.metro .card.spades .small-suit:after {
  color: black;
}
.metro .card.spades .small-suit:before {
  content: "\2660";
  color: black;
}
.metro .card.spades .suit:after {
  content: "\2660";
  color: black;
}
.metro .card.clubs .small-suit:after {
  color: black;
}
.metro .card.clubs .small-suit:before {
  content: "\2663";
  color: black;
}
.metro .card.clubs .suit:after {
  content: "\2663";
  color: black;
}
.metro .card.diamonds .small-suit:after {
  color: red;
}
.metro .card.diamonds .small-suit:before {
  content: "\2666";
  color: red;
}
.metro .card.diamonds .suit:after {
  content: "\2666";
  color: red;
}
.metro .card.hearts .small-suit:after {
  color: red;
}
.metro .card.hearts .small-suit:before {
  content: "\2665";
  color: red;
}
.metro .card.hearts .suit:after {
  content: "\2665";
  color: red;
}
