body {
    position: relative;
    padding-top: 90px;
    background-color: #fff;
    background-repeat: repeat-x;
    background-position: 0 40px;
}

.navbar-fixed-top .brand:hover {
    text-decoration: none;
}

hr.soften {
    height: 1px;
    margin: 54px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}

.hero-unit {
    background: #fff;
}

#metro-scene-1 {
    width: 340px;
    margin-top: 10px;
}

#google-plus-one {
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}
.footer p {
    margin-bottom: 0;
}

