@import (once) "../../include/vars";
@import (once) "../../include/mixins";

.scheme-builder (
    @schemeBackgroundColor,
    @schemeTextColor,
    @schemeControlColor,
    @schemeControlFillColor,
    @schemeControlTextColor,
    @schemeBorderColor,
    @schemeDividerColor,
    @schemeFontFamily,
    @schemeFontSize
) {
    body {
        font-size: @schemeFontSize;
        font-family: @schemeFontFamily;
        color: @schemeTextColor;
        background-color: @schemeBackgroundColor;
    }

    // Accordion
    .accordion {
        .frame .heading {
            background-color: @schemeControlFillColor;
            color: @schemeControlTextColor;
        }

        .frame {
            margin: 0;
        }

        .frame + .frame {
            border-top: 1px darken(@schemeBorderColor, 10%) solid;
        }
    }

    // App bar
    .app-bar {
        background-color: @schemeControlFillColor;
        color: @schemeControlTextColor;

        .dropdown-toggle {
            &::before {
                border-color: @schemeControlTextColor;
            }
        }

        .app-bar-menu, .app-bar-container {
            .d-menu {
                background-color: @schemeControlFillColor;
                color: @schemeControlTextColor;
            }

            .divider {
                background-color: @schemeDividerColor;
            }
        }
    }

    .generate-app-bar-media-options(@mediaBreakpointListMobileLength);
    .generate-app-bar-media-options(@name, @i: 1) when (@i <= @mediaBreakpointListMobileLength) {
        @m: extract(@mediaBreakpointListMobile, @i);

        @media screen and (min-width: @@m) {
            .app-bar {
                &.app-bar-expand-@{m} {
                    .app-bar-menu, .app-bar-container {
                        .d-menu {
                            box-shadow: none;
                            border: 1px solid @schemeBorderColor;
                        }
                    }
                }
            }
        }

        .generate-app-bar-media-options(@name, @i + 1);
    }

    // Border
    .bd-default {
        border-color: @schemeBorderColor!important;
    }

    // Buttons
    .button {
        background-color: @schemeControlFillColor;
        color: @schemeControlTextColor;

        &:active, &.focus, &:focus {
            .focus-show(@schemeControlFillColor);
        }
    }

    // Calendar
    .calendar {

        border-color: @schemeBorderColor;

        .calendar-header {
            background-color: @schemeControlFillColor;
            color: @schemeControlTextColor;
        }

        .day.today {
            background-color: rgba(red(@schemeControlFillColor), green(@schemeControlFillColor), blue(@schemeControlFillColor), .5);
        }

        .day.selected {
            box-shadow: 0 0 0 1px rgba(red(@schemeControlFillColor), green(@schemeControlFillColor), blue(@schemeControlFillColor), 1)!important;

            &::after {
                border-top-color: @schemeControlFillColor;
            }
        }

        .calendar-years > .years-list, .calendar-months > .months-list {
            li.active {
                background-color: @schemeControlFillColor;
                color: @schemeControlTextColor;
            }
        }

    }
}