Skipped data-uri embedding of less/images/media/light/play.svg because file not found
Skipped data-uri embedding of less/images/media/light/loop.svg because file not found
Skipped data-uri embedding of less/images/media/light/stop.svg because file not found
Skipped data-uri embedding of less/images/media/light/pause.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/light/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/light/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/light/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/light/list.svg because file not found
Skipped data-uri embedding of less/images/media/light/next.svg because file not found
Skipped data-uri embedding of less/images/media/light/prev.svg because file not found
Skipped data-uri embedding of less/images/media/light/first.svg because file not found
Skipped data-uri embedding of less/images/media/light/last.svg because file not found
Skipped data-uri embedding of less/images/media/light/forward.svg because file not found
Skipped data-uri embedding of less/images/media/light/backward.svg because file not found
Skipped data-uri embedding of less/images/media/light/share.svg because file not found
Skipped data-uri embedding of less/images/media/light/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/light/eject.svg because file not found
Skipped data-uri embedding of less/images/media/light/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/light/dice.svg because file not found
Skipped data-uri embedding of less/images/media/dark/play.svg because file not found
Skipped data-uri embedding of less/images/media/dark/loop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/stop.svg because file not found
Skipped data-uri embedding of less/images/media/dark/pause.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-mute.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-low.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-medium.svg because file not found
Skipped data-uri embedding of less/images/media/dark/volume-high.svg because file not found
Skipped data-uri embedding of less/images/media/dark/enlarge.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shrink.svg because file not found
Skipped data-uri embedding of less/images/media/dark/list.svg because file not found
Skipped data-uri embedding of less/images/media/dark/next.svg because file not found
Skipped data-uri embedding of less/images/media/dark/prev.svg because file not found
Skipped data-uri embedding of less/images/media/dark/first.svg because file not found
Skipped data-uri embedding of less/images/media/dark/last.svg because file not found
Skipped data-uri embedding of less/images/media/dark/forward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/backward.svg because file not found
Skipped data-uri embedding of less/images/media/dark/share.svg because file not found
Skipped data-uri embedding of less/images/media/dark/equalizer.svg because file not found
Skipped data-uri embedding of less/images/media/dark/eject.svg because file not found
Skipped data-uri embedding of less/images/media/dark/shuffle.svg because file not found
Skipped data-uri embedding of less/images/media/dark/dice.svg because file not found
Skipped data-uri embedding of less/images/inputs/checkmark.svg because file not found
Skipped data-uri embedding of less/images/inputs/cross.svg because file not found
Skipped data-uri embedding of less/images/inputs/search.svg because file not found
Skipped data-uri embedding of less/images/inputs/eye.svg because file not found
Skipped data-uri embedding of less/images/wizard/help.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-left.svg because file not found
Skipped data-uri embedding of less/images/wizard/arrow-right.svg because file not found
Skipped data-uri embedding of less/images/inputs/calendar.svg because file not found
Skipped data-uri embedding of less/images/inputs/clock.svg because file not found
Skipped data-uri embedding of less/images/apps/menu.svg because file not found
.hideScrollBars {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hideScrollBars::-webkit-scrollbar {
  display: none!important;
}
.demo-grid .cell-auto {
  padding-left: 12px;
  padding-right: 12px;
}
.demo-grid .stub {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ccc;
  text-align: center;
}
.demo-grid [class*=cell] {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #bebebe !important;
  text-align: center;
}
.demo-cell {
  padding: .75rem;
}
.gaps-demo [class^=cell] {
  border: none !important;
}
.gaps-demo [class^=cell] > div {
  background: #ffdd57;
}
.gaps-demo [class^=cell]:nth-child(odd) > div {
  background: #23d160;
  color: #ffffff;
}
pre {
  margin: 24px 0;
}
.cell-media-table tbody td {
  font-size: .8em;
  white-space: nowrap;
}
.toc-wrapper,
#sidenav {
  position: sticky;
  top: 64px;
  max-height: calc(100vh - 64px);
  overflow-y: auto;
  display: block;
  padding-top: .5rem;
}
#sidenav {
  overflow-y: hidden;
}
.toc-wrapper > h5,
#sidenav > h5 {
  color: #989898;
}
.toc-wrapper .toc-nav,
#sidenav .toc-nav {
  list-style: none;
  font-size: 90%;
}
.toc-wrapper .toc-nav li,
#sidenav .toc-nav li {
  position: relative;
}
.toc-wrapper .toc-nav li a,
#sidenav .toc-nav li a {
  color: #bebebe;
}
.toc-wrapper .toc-nav li a:hover,
#sidenav .toc-nav li a:hover {
  color: #1d1d1d;
}
.toc-wrapper .toc-nav li.done a,
#sidenav .toc-nav li.done a {
  color: #1d1d1d;
}
.toc-wrapper .toc-nav li.done a:before,
#sidenav .toc-nav li.done a:before {
  content: "\2713";
  color: #60a917;
  left: -1rem;
  position: absolute;
  font-weight: bold;
}
.toc-wrapper .toc-nav li.process a,
#sidenav .toc-nav li.process a {
  color: #1d1d1d;
}
.toc-wrapper .toc-nav li.process a:before,
#sidenav .toc-nav li.process a:before {
  content: "\25CF";
  color: #1ba1e2;
  left: -1rem;
  position: absolute;
  font-weight: bold;
}
.toc-wrapper .toc-nav li.idea a,
#sidenav .toc-nav li.idea a {
  color: #1d1d1d;
}
.toc-wrapper .toc-nav li.idea a:before,
#sidenav .toc-nav li.idea a:before {
  content: "\2600";
  color: #dc4fad;
  left: -1rem;
  position: absolute;
  font-weight: bold;
}
.toc-wrapper .toc-nav li.active,
#sidenav .toc-nav li.active {
  font-weight: bold;
}
.toc-wrapper .toc-nav ul,
#sidenav .toc-nav ul,
.toc-wrapper .toc-nav ol,
#sidenav .toc-nav ol {
  list-style: none;
  margin-left: 0;
}
.toc-wrapper > .toc-nav,
#sidenav > .toc-nav {
  margin-left: 0;
}
.toc-wrapper .toc-nav-title,
#sidenav .toc-nav-title {
  font-size: .9em;
  color: #bebebe;
  position: relative;
  margin: 0.5rem 1rem 0.2rem -0.5rem;
}
#doc-nav {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}
.doc-nav-item > a {
  color: #1d1d1d;
  font-weight: bold;
}
.example {
  position: relative;
  padding: .125rem;
  border: 2px solid #eee;
  margin-bottom: 1rem;
}
.example + pre {
  margin-top: -1rem;
  border-top: 0 !important;
}
.example .window {
  position: relative!important;
}
* + .example {
  margin-top: 1rem;
}
main > h3,
main > h5,
main > h4 {
  z-index: -1;
  pointer-events: none;
}
main > h3:before,
main > h5:before,
main > h4:before {
  display: block;
  height: 5rem;
  margin-top: -5rem;
  visibility: hidden;
  content: "";
  z-index: -1;
}
main > h1 {
  margin-top: 1rem;
}
main > h3 {
  margin-top: 2rem;
}
main > h4 {
  margin-top: 1rem;
  font-weight: 400;
}
.particles-js-canvas-el {
  z-index: -1;
  position: absolute;
  top: 0;
}
footer p {
  font-size: 12px;
}
footer p a {
  color: #1d1d1d;
  font-weight: bold;
}
#doc-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  #sidenav {
    position: sticky;
    top: 64px;
  }
  #sidenav #doc-nav {
    display: block!important;
  }
  .example {
    padding: 1rem;
  }
}
@media screen and (max-width: 767px) {
  #sidenav {
    position: relative;
    top: 0;
  }
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  header {
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
  }
  body {
    padding-top: 64px;
  }
  #sidenav,
  .toc-wrapper {
    top: 0;
    overflow-y: visible;
  }
  #sidenav #doc-nav,
  .toc-wrapper #doc-nav {
    max-height: none;
    overflow-y: visible;
  }
}
@supports (-ms-ime-align:auto) {
  header {
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
  }
  body {
    padding-top: 64px;
  }
  #sidenav,
  .toc-wrapper {
    top: 0;
    overflow-y: visible;
  }
  #sidenav #doc-nav,
  .toc-wrapper #doc-nav {
    max-height: none;
    overflow-y: visible;
  }
}
.demo-cube {
  display: inline-block;
  height: 2rem;
  width: 4rem;
}
.icon-list {
  display: flex;
  flex-wrap: wrap;
}
.icon-list li {
  width: 100%;
  font-size: .8em;
  color: #bebebe;
  padding: .5rem 1rem;
  cursor: pointer;
}
.icon-list li:hover {
  background-color: #1ba1e2;
  color: #ffffff;
}
.icon-list li:hover [class*=mif-] {
  color: #ffffff;
}
.icon-list [class*=mif-] {
  font-size: 2em !important;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  color: #1d1d1d;
}
@media screen and (min-width: 576px) {
  .icon-list li {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .icon-list li {
    width: 33%;
  }
}
@media screen and (min-width: 992px) {
  .icon-list li {
    width: 25%;
  }
}
pre {
  position: relative;
}
pre .copy-button {
  position: absolute;
  z-index: 2;
  top: .5rem;
  right: .5rem;
}
.hljs {
  padding: 1rem;
}
#sidenav {
  overflow: visible;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    width: 175%;
  }
}
.options-table {
  font-size: 14px;
}
.special-thanks {
  justify-content: space-between;
  align-items: center;
}
.special-thanks [class*=cell-] {
  text-align: center;
  margin-top: 20px;
}
.special-thanks img {
  width: 124px;
  max-height: 64px;
}
main {
  padding-bottom: 20px!important;
}
