:root {
    --remote-dataset-gap: 10px;
}
.remote-dataset {
    .dataset-body {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .dataset-item {
    }
    .dataset-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }    
    .dataset-load-more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        
        .button {
            text-decoration: none!important;
        }
        
        .icon {
            font-size: 64px;
        }
    }
}
