@import (once) "../include/vars";
@import (once) "../include/mixins";
@import (once) "builder/builder";

@schemeBackgroundColor: #2B2B2B;
@schemeTextColor: #ffffff;
@schemeControlColor: #7d7d7d;
@schemeControlFillColor: #3C3F41;
@schemeControlTextColor: #bbbbbb;
@schemeBorderColor: #5E6060;
@schemeDividerColor: darken(@schemeControlTextColor, 30%);
@schemeFontFamily: @fontName;
@schemeFontSize: @fontSize;

.scheme-builder(
    @schemeBackgroundColor,
    @schemeTextColor,
    @schemeControlColor,
    @schemeControlFillColor,
    @schemeControlTextColor,
    @schemeBorderColor,
    @schemeDividerColor,
    @schemeFontFamily,
    @schemeFontSize
);

.ribbon-menu {
    .tabs-holder {

        .static {
            background-color: @orange;
            color: @white;
            &:hover {
                border-color: @transparent!important;
            }
        }

    }
}