@import (once) "../include/vars";
@import (once) "../include/mixins";
@import (once) "builder/builder";

@schemeBackground: #2B2B2B;
@schemeBackgroundSecondary: #3a3a3a;
@schemeTextColor: #ffffff;
@schemeTextColorSecondary: #BBBBBB;
@schemeControlColor: #585b5d;
@schemeControlTextColor: #ffffff;
@schemeFontFamily: @fontName;
@schemeFontSize: @fontSize;

.scheme-builder(
    @schemeBackground,
    @schemeBackgroundSecondary,
    @schemeTextColor,
    @schemeTextColorSecondary,
    @schemeControlColor,
    @schemeControlTextColor,
    @schemeFontFamily,
    @schemeFontSize
);

.navview {
    .navview-pane {
        .navview-menu {
            li {
                &.active {
                    &::before {
                        background-color: @orange;
                    }
                }
            }
        }
    }
}

@ratingOn: @light;

.rating {
    .stars {
        li {
            &.on {
                color: @ratingOn;
            }
        }
    }
    &:not(.static) .stars {
        &:hover {
            li {
                color: @ratingOn;
            }
        }
    }
}

